

<div class='main_container'>
    <div class='title'>Select a Repo</div>
      <table>
          <tr>
            <th>Repos</th>
            <th>URL</th>
            <th>Total Commit Count</th>
            <th>Total Issue Count</th>
            <th>Total Contributors</th>
          </tr> 
          <tr a routerLink="/analytics" routerLinkActive="active" >
            <td  class="aligncenter" >Data</td>
            <td>Data</td>
            <td>Data</td>
            <td>Data</td>
            <td>Data</td>
          </tr>
      </table>
  </div>
  

