

<div class='main_container'>
    <div class='title'>Select a Repo</div>
      <table>
          <tr>
            <th>Repos</th>
            <th>Git URL</th>
            <th># Commits</th>
            <th># Issues</th>
            <th># Committers</th>
          </tr> 
          <tr class='hovercol' a routerLink="/analytics" routerLinkActive="active" *ngFor="let repo of repos" >
            <td  class="aligncenter" >{{repo.repo_name}}</td>
            <td>{{repo.repo_git}}</td>
            <td>{{repo.commit_count}}</td>
            <td>{{repo.issues_count}}</td>
            <td>{{repo.committers_count}}</td>
          </tr>
      </table>
  </div>
  

