numpy==1.14.2
Flask_Cors==3.0.3
Flask==0.12.2
pandas==0.22.0
augur.egg==info
gunicorn==19.7.1
SQLAlchemy==1.2.7
requests==2.18.4
augur==0.1
Beaker==1.10.0
beautifulsoup4==4.6.1
coloredlogs==10.0
python_dateutil==2.7.3
PyGithub==1.40
lockfile==0.12.2
tldextract==2.2.0
