<ngx-charts-line-chart 
    *ngIf="lineGraphData"
    [view]="view" 
    [scheme]="colorScheme" 
    [legend]="null" 
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel" 
    [xAxis]="xAxis" 
    [yAxis]="yAxis" 
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel" 
    [timeline]="timeline" 
    [results]="lineGraphData"
    [curve]="curve"
    [xAxisTickFormatting]="xAxisTickFormatting">
</ngx-charts-line-chart> 
<div class="container" *ngIf="!lineGraphData">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>