/augur/cli/ @ccarterlandis
/augur/metrics/ @ccarterlandis @sgoggins
/augur/housekeeper/ @gabe-heim
/augur/server.py @ccarterlandis @gabe-heim
/augur/application.py @ccarterlandis @sgoggins @gabe-heim
/augur/routes/ @ccarterlandis @gabe-heim @sgoggins

/frontend/ @gabe-heim @sgoggins

/schema/ @sgoggins @ccarterlandis

/schema/generate @sgoggins 

/workers/ @ccarterlandis @gabe-heim @sgoggins

/README.md @sgoggins @ccarterlandis
/CONTRIBUTING.md @sgoggins @ccarterlandis
/LICENSE @sgoggins @ccarterlandis
/CODE_OF_CONDUCT.md @sgoggins @ccarterlandis

/tests/ @ccarterlandis
/util/docker @ccarterlandis
/scripts/ @ccarterlandis
/docs/ @ccarterlandis
/.dockerignore @ccarterlandis
/.travis.yml @ccarterlandis
*compose.yml @ccarterlandis
/readthedocs.yml @ccarterlandis
/Makefile @ccarterlandis
/tox.ini @ccarterlandis
*requirements.txt @ccarterlandis
/setup.py @ccarterlandis @sgoggins
