# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

# lock files
yarn.lock
package-lock.json

# NPM packages folder.
node_modules/

docs/python/build/doctrees/AugurContext.doctree
