.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-child {
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}  
