body {
    background-color: skyblue;
    text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: navy;
}

li {
  float: left;
}


li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: navy;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

h1 {
    text-align: left;
    color: navy;
    font-family: "Verdana", "Sans-serif";
}

h2{
    text-align: center;
    color: navy;
    font-family: "Verdana", "Sans-serif";
    font-size: 15px;
}
select {
    display: inline block;
    margin: auto;
    padding: 5px;
    margin-bottom: 10px;
    font-family: "Verdana", "Sans-serif";
    letter-spacing: 1px;
    word-spacing: 2px;
    color: navy;
    text-decoration: none;
}

#graph{
    height: 10px;
    width: 10px;
}

html,body{
  height:100%;
}

body{
  text-align:center;
}

.topic{
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.groupHeaders{
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

body:before{
  content: '';
  display: inline-block;
  vertical-align: middle;
}

.button{
  background: rgba(54, 162, 235);
  color: white;
  border: none;
  position: relative;
  height: 40px;
  font-size: 1.4em;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}

.button:hover{
  background: white;
  color: rgba(54, 162, 235);
}

.button:before,.button:after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: rgba(54, 162, 235);
  transition: 400ms ease all;
}

.button:after{
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.button:hover:before,.button:hover:after{
  width: 100%;
  transition: 800ms ease all;
}


