matrix: 
  include: 
    - name: "Python Datasource Tests"
      install: "pip install ."
      language: python
      python: "3.6"
      notifications: 
        slack: "augurlabs:T5g5uaEPLwSiTUTRH1kiXGcS"
      script: "python -m pytest augur/datasources/**/test_**.py"

    - before_script: 
        - "node --version"
        - "npm --version"
        - "node_modules/.bin/newman --version"
      install: 
        - "pip install --process-dependency-links ."
        - "npm install newman"
      language: python
      python: "3.6"
      notifications: 
        slack: "augurlabs:T5g5uaEPLwSiTUTRH1kiXGcS"
      script: 
        - "python3 -m augur.server &"
        - "sleep 15"
        - "node_modules/.bin/newman run https://api.getpostman.com/collections/4566755-87d14f65-6fa1-4a0b-949f-55ca5f35320e?apikey=$POSTMAN_API_KEY -e https://api.getpostman.com/environments/4566755-2eb8f02c-642f-4f12-892f-d75f4c5faa24?apikey=$POSTMAN_API_KEY"
env:
  global:
    secure: B6m6XQ+N3Gdb3L8Ob17JcveRJ5CiefjrhS3F/L3+4rvTUnS6tvdqXq7xztA3f/qgjQAIs6995MT0jhczPts8qPpRV6ctNVFmYsiM88lvqJlp6eKx/lONZMbUT8Xf7LS9gXs1KsZcmf0vx+Eg5hQQt4eIiS3vyg5xF68Dq8yjgtVee56+enoIH1F+V7nWeBZ5w13IITIJyLMo5x4DUcDY8+ycyhgBEyMVaS05BBYwaHvevEVf4hDeX3iC/g8l1PptLnpw52vFIuTsvm1rOWtuVoLY2eK/gmWt93cNjPP6TLH1Zo8L9hBrGvGZewbhTg30TNOphQoeibLu/6n+3i+p6ch2l86YnlELzgtuTq9rDXXdweMUSwRI+TO0heRlwbn3b1eDdCQ3R1yU9UXJIjCS9Hoaie+rFy99hFWESmH2vTA5x//YShMFpVgMb0rIaLfVfjTkeqczOEi37qCSmm4NgbVwpIfqbzYHBFG0JCxFxFIk0aUEsPO/k0CZiOlO/pFbM1Pb0bAJD4Yv1IKZ775YnVuhboMVv8CyXLjuNqjn48G9Gy6ODMPVuujOlgQXyfgMiF/dKKWnf8W2iu9KasbvZBAv47Nj4nhDCVBhkJlNs+0NdaLsJTYQ8yRonf7Hp/mE9lQaNkSPCrLtTSRjOxJ3XNa9/SqB1kQy86palheFyMY=