alabaster==0.7.12
appdirs==1.4.3
appnope==0.1.0
attrs==19.3.0
augur==0.11.0
Babel==2.8.0
backcall==0.1.0
Beaker==1.11.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
coloredlogs==14.0
decorator==4.4.2
distlib==0.3.0
docutils==0.16
filelock==3.0.12
Flask==1.1.1
Flask-Cors==3.0.8
Flask-Login==0.5.0
Flask-WTF==0.14.3
gunicorn==19.9.0
humanfriendly==7.1.1
idna==2.9
imagesize==1.2.0
importlib-metadata==1.5.0
ipdb==0.13.1
ipython==7.13.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.11.1
MarkupSafe==1.1.1
more-itertools==8.2.0
numpy==1.18.1
packaging==20.1
pandas==1.0.1
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.3
psycopg2==2.8.4
ptyprocess==0.6.0
py==1.8.1
Pygments==2.5.2
pyparsing==2.4.6
pytest==5.3.5
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
six==1.14.0
snowballstemmer==2.0.0
Sphinx==2.4.3
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.3.13
toml==0.10.0
tox==3.14.5
traitlets==4.3.3
urllib3==1.25.8
virtualenv==20.0.7
wcwidth==0.1.8
Werkzeug==1.0.0
WTForms==2.2.1
zipp==3.0.0
