#SPDX-License-Identifier: MIT
version: '3'
services:
      backend:
       image: local_augur_backend
       restart: unless-stopped
       ports:
         - 5000:5000
         - 50000-52000:50000-52000
       env_file: docker_env.txt

      frontend:
        image: augurlabs/augur:frontend
        restart: unless-stopped
        ports:
          - 8080:8080

