Flask==0.12.2
Flask_Cors==3.0.2
numpy==1.12.1
pandas==0.20.1
pytest==3.1.0
requests==2.14.2
setuptools==35.0.2
SQLAlchemy==1.1.10
python_dateutil==2.6.0
Django==1.11.1
gevent==1.2.1
GitPython==2.1.3
PyGithub==1.34
mysql_connector_repackaged==0.3.1
re==2.2.1
coloredlogs==10.0.0
