<div class="jumbotron">
  <div class="container">
    <h1 class="home">Learn More about Augur</h1>
    <p class="home-paragraph">Navigate to the Augur API page to better understand where we got our API endpoints from in order to understand how we retreived the data.</p>
    <p><a class="btn btn-primary btn-lg" href="http://augur.osshealth.io/api_docs/" role="button">Learn more &raquo;</a></p>
  </div>
</div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Repository Commits and Committers</h2>
        <p>Check out the top committers for each repository through a visual pie chart.</p>
        <p><a class="btn btn-secondary" routerLink="/repos" routerLinkActive ="active" role="button">Top committers &raquo;</a></p>
      </div>
      <hr>
      <div class="col-md-4">
        <h2>Pulls and Acceptance Rates</h2>
        <p>Visualize the pull acceptance rates on a line graph in order to see how the pulls increase or decrese on a line graph.</p>
        <p><a class="btn btn-secondary" routerLink="/pull-rate" routerLinkActive ="active" role="button">Pull rates &raquo;</a></p>
      </div>
      <hr>
      <div class="col-md-4">
        <h2>Issues in Repositories</h2>
        <p>Learn more about the issues that each repository had with pulls and merges according to dates on a bar graph.</p>
        <p><a class="btn btn-secondary" routerLink="/issues" routerLinkActive ="active" role="button">Issues &raquo;</a></p>
      </div>
      <hr>
      <div class="col-md-4">
        <h2>About</h2>
        <p>Find our more about Group 12 and our final project proccesses.</p>
        <p><a class="btn btn-secondary" routerLink="/about-us" routerLinkActive ="active" role="button">About Us &raquo;</a></p>
      </div>
      <hr>
      <div class="col-md-4">
        <h2>Meet the Team</h2>
        <p>Want to meet our teammates and find out more about what was contributed? Well look no further!</p>
        <p><a class="btn btn-secondary" routerLink="/meet-the-team" routerLinkActive ="active" role="button">Meet the team &raquo;</a></p>
      </div>
    </div>
    <hr>
  </div>
  