<p>Meet the Team!</p>

<div>
    <p>Harry and Ron</p>
    <img src="../../assets/SarahCats.jpg" width="300" height="400">
</div>
<div>
    <p>Alex's Cat 1</p>
    <img src="../../assets/AlexCat2.jpg" width="375" height="400">
</div>

<div>
    <p>Alex's Cat 2</p>
    <img src="../../assets/AlexCat.jpg" width="300" height="420">
</div>

<div>
    <p>Alex's Hampster</p>
    <img src="../../assets/AlexHampster.jpg" width="400" height="400">
</div>

<div>
    <p>Christina's Dog</p>
    <img src="../../assets/ChristinaDog.jpg" width="325" height="400">
</div>

