background = #eaeaea
foreground = #fafafa
full-shadow = 5px 5px 20px 2px rgba(0, 0, 0, 0.03)

body
  background: background
  padding-bottom: 216px

header
  width: 100%
  min-height: 50px
  padding: 20px
  margin-bottom: 20px
  background: foreground

header .search
  width: 100%
  margin-top: 25px

.header-nav
  margin-top: 25px
  display: block

.header-nav-item
  padding: 10px 10px
  display: inline-block
  float: right
  text-decoration: none
  color: #777

#logo
  display: inline-block
  margin-top: 0px
  max-width: 250px

.content
  margin: auto
  width: 95%
  max-width: 1600px

.tabs li.active a
  color: #000
  background: #eaeaea
  border-bottom: 1px solid #eaeaea

.tabs li.active label
  color: #000 !important
  border-bottom: 3px solid #dddddd !important

.tabs li input
  visibility:hidden;

.tabs li label:hover 
  background: #eaeaea

@media (min-width: 1230px) 
  .tabs ul
    border-bottom-style: none !important
    margin: 0px auto

.linechart .tabs 
  display: table;  
  margin: 0 auto;
  //transform: translateY(88px)
  transform: translateY(-50px)

.linechart .tabs ul
  list-style: none;

.linechart .tabs ul li
  display: inline;

.tabs li label  
  position: relative;
  top: 1px;
  font-style: normal;
  display: block;
  padding: .5rem 1rem;
  border: 1px solid transparent;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;

section#landing h1
  font-size: 25px

section
  width: 100%;
  padding: 36px
  float: right
  margin: 0 0 24px 0
  background: foreground
  box-shadow: full-shadow

section h2
  font-size: 21px
  line-height: 32px
  color: foreground - 50%
  margin-bottom: 50px

section small
  display: block
  width: 100%
  margin-top: 30px
  padding-right: 20px
  text-align: right
  color: #aaa

section small a
  color: #aaf
  text-decoration: none

section.unmaterialized
  box-shadow: 0 0 0 0
  background: (foreground - 4%)
  padding: 24px 24px 48px 24px
  border-right: 1px solid (background - 5%)
  border-bottom: 1px solid (background - 5%)

#controls
  padding: 18px 36px 5px 36px
  background: (foreground - 4%)
  border-right: 1px solid (background - 5%)
  border-bottom: 1px solid (background - 5%)
  margin-bottom: 20px

#comparetext
  padding: 10px 0px 0px 0px

.fixed
  position: relative

section.status
  box-shadow: 0 0 0 0
  background: (foreground - 4%)
  padding: 24px 24px 48px 24px

@media (min-width: 1230px)
  #cards
    width: 100%;
    padding-bottom: 100px
    position: relative
    z-index: 9

  section
    z-index: 10

  #landing
    width:100%

  .fixed-container
    z-index: 0
    position: absolute
    top: 245px
    left: calc(50% - (540px))

  .fixed
    position: fixed !important
    top: 25px

.warn
  color: #f00

.warn:before
  content: ' ⚠ '

.below-chart
  position: relative
  z-index: 2
  width: 100%;
  margin: 10px auto;
  padding: 0px 30px 0px 25px
  //transform: translateY(-10px)
  transform: translateY(-26px)

.section {
  overflow:hidden;
  transition:max-height 0.3s ease-out; // transitioning max-height, not height
  height:auto;
  max-height:600px;
  position: relative
}
.section.collapsed {
  max-height:0;
}

.collapsible.fade::after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 40px;
            background: -webkit-linear-gradient(
                    rgba(250, 250, 250, 0) 0%,
                    (foreground - 4%) 100%
            );
            background-image: -moz-linear-gradient(
                    rgba(250, 250, 250, 0) 0%,
                    (foreground - 4%) 100%
            );
            background-image: -o-linear-gradient(
                    rgba(250, 250, 250, 0) 0%,
                    (foreground - 4%) 100%
            );
            background-image: linear-gradient(
                    rgba(250, 250, 250, 0) 0%,
                    (foreground - 4%) 100%
            );
            background-image: -ms-linear-gradient(
                    rgba(25, 250, 250, 0) 0%,
                    (foreground - 4%) 100%
            );
        }

.section.showsome
  max-height: 100px

.repo-link-holder
  background: rgb(234, 234, 234)
  padding: 10px
  height: 300px
  overflow-y: scroll

.repo-link-table-body
  background: rgb(234, 234, 234)

th, td {
    padding: 0;
}

cite.metric
  display: block;
  width:100%
  height: 0
  margin-left: 52px;
  float: left
  text-align: left;
  font-size: 12px
  color: #ccc
  font-style: normal

cite.metric a
  color: #aaa
  text-decoration: underline;

.graph-download
  background: 0
  color: #ccc
  font-size: 0.7em
  height: 5px !important
  line-height: 30px;
  float: right
  margin: -7px 7px 0 0 !important;
  padding: 3px !important;

.graph-download:hover
  background: #eee;
  color: #000

.error
  justify-content: center
  padding: 30px 0px 31px 20px
  text-align: center
  margin: auto

.error:before
  content: "\26A0"
  font-size: 3em;
  justify-content: center
  padding: 50px 50px 50px 50px
  text-align: center
  margin: auto

#optionheader
  font-size: 1.1em;
  font-weigth: 600

.marks
  padding: 10px 0px 0px 24px !important

.role-title > text
  font-size: 20px !important
  font-weight: normal !important

.bubblechart
  width: 100%;

.bubblechart *
  overflow: visible !important;

// .stackedbarchart

.stackedbarchart *
  overflow: visible !important;
  width: 100%;
  // position: relative
  margin-bottom: 30px

.tickchart *
  overflow: visible !important;
  width: 100%;
  // position: relative


.normalbar *
  overflow: visible !important;
  width: 100%;
  // position: relative

.bubblechart svg
  width: 100%;

.mg-line-legend
  display: none

.legend
  position: relative
  margin: 0
  padding: 0
  height: 0
  top: 31px
  left: 55px
  font-size: 14px
  font-weight: bold
  opacity: 0.8

.mg-baselines
  opacity: 0.5

#collapse {
  padding: 10px 0px 15px 0px
}

.linechart
  padding: 0px 0px 0px 18px


.loader {
  width: 100%
  text-align: center
  line-height: 10

  margin: 0px 0px 0px 270px;
  position: absolute;
  transform: translateY(-50%);

  border: 16px solid #7d7d7d; /* our red */
  border-top: 16px solid #FF3647; /* our gray */
  border-radius: 50%;
  opacity: 0.5
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes outro
  0%
    opacity: 1
    filter: grayscale(0%)
  100%
    opacity: 0.2
    filter: grayscale(100%)

@keyframes loader
  0%
    opacity: 0.2
    filter: grayscale(100%)
  50%
    opacity: 0.4
    filter: grayscale(50%)
  100%
    opacity: 0.2
    filter: grayscale(100%)

.intro
  animation: intro 2s

@keyframes intro
  0%
    opacity: 0.2
    filter: grayscale(100%)
  100%
    opacity: 1
    filter: grayscale(0%)

@media print
  body
    zoom: 75%
  section
    min-width: 800px
    min-height: 10.5in
    page-break-after: always;

  section.unmaterialized
    display: none

.hidden, .hidden > *, .hidden > small
  display: none !important

.spacing
  height: 90px

.invis, .invis > *, .invis > small
  z-index: -1;
  opacity: 0 !important;
  max-height: 116px !important;

.invisDet, .invisDet > *, .invisDet > small
  z-index: -1;
  opacity: 0 !important;
  max-height: 191px !important;

.shrunk
  max-height: 0px !important

.lines-of-code-table th, .lines-of-code-table td
  padding: 0.5rem

.clickable-header
  cursor: pointer
  text-decoration: underline
  color: #3794de

.checkbox_select_anchor
{
  display: block;
  background: firebrick;
  color: white;
  cursor: pointer;
  padding: 10px 5px 5px;
  position: relative;
}

.checkbox_select_anchor:after
{
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid darkred;
  content: "";
  position: absolute;
  right: 10px;
  top: 15px;
}

.expanded .checkbox_select_anchor:after
{
  border-top: 0;
  border-bottom: 10px solid firebrick;
}


.checkbox_select_anchor:hover
{
  background: #FF3030 !important;
}

.expanded .checkbox_select_anchor
{
    background: #7C1818;
}

div.checkbox_select .select_input
{
    width: 100%;
    cursor: pointer;
}

.checkbox_select_dropdown
{
    display: none;
    background: whitesmoke;
}

.checkbox_select_dropdown.show
{
    display: block;
}

.checkbox_select_dropdown ul
{
    max-height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
  margin: 0;
      border: 1px solid #999;
  border-top: 0;
  border-bottom: 0;
}
.checkbox_select_dropdown ul li
{
    list-style: none;
    position: relative;
    color: #666;
}
.checkbox_select_dropdown ul li label
{
  position: relative;
      padding: 10px 5px 5px 40px;
     display: block;
  cursor: pointer;
}
.checkbox_select_dropdown ul li label:hover
{
  background: #cbcbcb;
  color: white;
}
.checkbox_select_dropdown ul li input:checked + label
{
  background: #bbb;
  color: white;
  text-shadow: 0px 1px 1px rgba(150, 150, 150, 1);
}
.checkbox_select_dropdown ul li input
{
  position: absolute;
  left:0;
  z-index:1;
  display: inline-block;
  height: 100%;
  width: 30px;
}
.checkbox_select_search
{
    width: 200px;
    padding: 10px 5px 5px;
    border: 1px solid #999;
      border-top: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.checkbox_select_submit
{
    background: #00A600;
    color: white;
    padding: 10px 5px 5px;
    border: 0;
    width: 100%;
    font-size: 14px;
    cursor: pointer;
}

.hide
{
    display: none;
}

.multiselect__input {
      padding-left: 32px !important
}

.multiselect__tags input {
  width: 150px !important
}

.multiselect__content-wrapper ul { list-style: none; }
.multiselect__content-wrapper { z-index: 1000000 !important }

.multiselect__content-wrapper ul li .multiselect__option { display:block; text-decoration:none; color:#000000; background-color:#FFFFFF; line-height:30px;
  border-bottom-style:solid; border-bottom-width:1px; border-bottom-color:#CCCCCC; padding-left:10px; cursor:pointer; }

.multiselect__content-wrapper ul li .multiselect__option:hover { background-color:#EEEEEE; background-image:url(../images/hover.png); background-repeat:repeat-x; }
.multiselect__content-wrapper ul li .multiselect__option strong { margin-right:10px; }

.multiselect__content-wrapper {
  overflow-y: scroll

}

.multiselect__content {
  margin: 0;
  width: 150px;
}

.multiselect__option--selected {
  background-color:#00FF00 !important
}

.multiselect__option--selected:hover {
  background-color:#00FF00 !important
}

.multiselect__content-wrapper ul li span {

}

.multiselect__tags-wrap {
  display: none
}

.repolisting {
  margin-left:1.25em;
}




.limiter * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden;
}


.limiter a {
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.limiter a:focus {
  outline: none !important;
}

.limiter a:hover {
  text-decoration: none;
  color: #fff;
}

.limiter h1,h2,h3,h4,h5,h6 {
  margin: 0px;
}

.limiter p {
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

.limiter ul, li {
  margin: 0px;
  list-style-type: none;
}

.limiter input {
  outline: none;
  border: none;
}

.limiter textarea {
  outline: none;
  border: none;
}

.limiter textarea:focus, input:focus {
  border-color: transparent !important;
}



.limiter label {
  margin: 0;
  display: block;
}

.limiter button {
  outline: none !important;
  border: none;
  background: transparent;
}

.limiter button:hover {
  cursor: pointer;
}



.limiter {
  width: 100%;
  margin: 0 auto;
}

.limiter .container-login {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.limiter .container-login::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.9);
}

.limiter .wrap-login {
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  padding: 55px 55px 37px 55px;

  background: #9152f8;
  background: -webkit-linear-gradient(top, #ff6976, #7669ff);
  background: -o-linear-gradient(top, #ff6976, #7669ff);
  background: -moz-linear-gradient(top, #ff6976, #7669ff);
  background: linear-gradient(top, #ff6976, #7669ff);
}

.limiter .login-form {
  width: 100%;
}


.limiter .login-form-title {
  font-size: 24px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;

  display: block;
}

.limiter .forgot-password {
  width: 100%;
}


.limiter .forgot-password-title {
  font-size: 24px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;

  display: block;
}

.limiter .wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid rgba(255,255,255,0.24);
  margin-bottom: 30px;
  padding: 0 0px 0 38px;
}

.limiter .input {
  font-size: 14px;
  color: #fff;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;

}

.limiter .focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.limiter .focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #fff;
}

.limiter .focus-input::after {
  font-size: 22px;
  color: #fff;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 6px;
  left: 0px;


  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.limiter .input:focus {
  padding-left: 5px;
}

.limiter .input:focus + .focus-input::after {
  top: -22px;
  font-size: 18px;
}

.limiter .input:focus + .focus-input::before {
  width: 100%;
}

.limiter .has-val.input + .focus-input::after {
  top: -22px;
  font-size: 18px;
}

.limiter .has-val.input + .focus-input::before {
  width: 100%;
}

.limiter .has-val.input {
  padding-left: 5px;
}

.limiter .contact-form-checkbox {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 35px;
}

.limiter .input-checkbox {
  display: none;
}

.limiter .label-checkbox {
  font-size: 13px;
  color: #fff;
  line-height: 1.2;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.limiter .label-checkbox::before {
  content: "\2714";
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background: #fff;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.limiter .input-checkbox:checked + .label-checkbox::before {
  color: #555555;
}

.limiter .container-login-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.limiter .login-form-btn {
  font-size: 16px;
  color: #555555;
  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 120px;
  height: 50px;
  border-radius: 25px;

  background: #9152f8;
  background: -webkit-linear-gradient(bottom, #7579ff, #b224ef);
  background: -o-linear-gradient(bottom, #7579ff, #b224ef);
  background: -moz-linear-gradient(bottom, #7579ff, #b224ef);
  background: linear-gradient(bottom, #7579ff, #b224ef);
  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.limiter .login-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: #fff;
  top: 0;
  left: 0;
  opacity: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.limiter .login-form-btn:hover {
  color: #fff;
}

.limiter .login-form-btn:hover:before {
  opacity: 0;
}

.limiter .dashboard-btn {
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 120px;
  height: 50px;
  border-radius: 25px;

  background: #9152f8;
  background: -webkit-linear-gradient(bottom, #7579ff, #b224ef);
  background: -o-linear-gradient(bottom, #7579ff, #b224ef);
  background: -moz-linear-gradient(bottom, #7579ff, #b224ef);
  background: linear-gradient(bottom, #7579ff, #b224ef);
  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.limiter .dashboard-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: black;
  top: 0;
  left: 0;
  opacity: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.limiter .dashboard-btn:hover {
  color: #fff;
}

.limiter .dashboard-btn:hover:before {
  opacity: 0;
}

@media (max-width: 576px) {
  .wrap-login {
    padding: 55px 15px 37px 15px;
  }
}

.limiter .validate-input {
  position: relative;
}

.limiter .alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.limiter .alert-validate::after {
  content: "\f12a";
  font-size: 16px;
  color: #c80000;

  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.limiter .alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

.background {
  background-image: url("https://images.unsplash.com/photo-1537464976111-32238740972e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bfd24ee1151c895aa8bad12346753cf2&auto=format&fit=crop&w=1662&q=80") !important;
  height: 100% !important;
  width: 100% !important;

  animation: slide 60s linear infinite !important;
}

@keyframes slide {
  0%{
    transform: translateX(0px)!important;
  }
  100%{
    transform: translateX(100px) !important;
  }
}

.inputGroup {
    top:30%
    display: inline;
    margin: 10px 20px 0px 0px;
    position: relative;
width: 300px;
      height: 100%;

    label {
      padding: 18px 80px 18px 18px;

      width: 100%px;
      height: 100%;
      display: inline;
      text-align: left;
      color: #3C454C;
      cursor: pointer;
      position: relative;
      z-index: 2;
      transition: color 200ms ease-in;
      overflow: hidden;
      }
    

    label:after {
      width: 32px;
      height: 32px;
      content: '';
      border: 2px solid #D1D7DC;
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
      background-repeat: no-repeat;
      background-position: 2px 3px;
      border-radius: 50%;
      z-index: 2;
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      transition: all 200ms ease-in;
    }
    

    input:checked ~ label {

      &:before {
        transform: translate(-50%, -50%) scale3d(56, 56, 1);
        opacity: 1;
      }

      &:after {
        background-color: #54E0C7;
        border-color: #54E0C7;
      }
    }

    input {
      width: 32px;
      height: 32px;
      padding-left: 10px
      order: 1;
      z-index: 20000;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      visibility: hidden;
    }

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

#placehold::-webkit-input-placeholder { 
  color: #fff;

}

code {
  background-color: #9AA3AC;
  padding: 0 8px;
}
  }
.tickradios {
  text-align: center
  height: 60px
  margin-bottom: 0
}

.multiselect__content-wrapper {
  position: absolute !important
}

.selecting {
  display: block !important
}

.multiselect__tags {
  height: 40px !important
}

.relative {
  position: relative !important
}

.note {
  font-size: 10px
  opacity: .8
  margin: 0
  text-align: center
}

.invisible {
  visibility: hidden
}

.invalid-search {
  color: red
  font-size: 14px
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding-bottom: 14px
}

.switch
  position: relative
  margin: 10px auto
  width: 480px
  height: 40px

  color: #45f
  font-size: 25px
  border-radius: 10px
  transform: translateY(-30px)

.quality
  
  position: relative
  display: inline-block
  width: 33.33%
  height: 100%
  line-height: 40px
  &:first-child
    label
      border-radius: 5px 0 0 5px
  &:last-child
    label
      border-radius: 0 5px 5px 0
  label
    border:1px solid black
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    cursor: pointer
    font-style: italic
    text-align: center
    transition: transform 0.4s, color 0.4s, background-color 0.4s
  input[type="radio"]
    appearance: none

    width: 0
    height: 0
    opacity: 0
    &:focus 
      outline: 0
      outline-offset: 0
    &:checked ~ label
      background-color: #ff838d
      color: #111
    &:active ~ label
      transform: scale(1.05)

.fullwidth {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.parent{
  position: absolute
  z-index: 1 !important
  align-content: center
}