.container {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 550px;
    height: auto;
    margin: auto;
    padding: 2px 16px;
    display: inline-block;
    color: black;
    font-family: 'Kanit', sans-serif;
}

h2 {
  font-family: 'Kanit', sans-serif;
}

ul {
  list-style-type: none;
  display: inline-block;
}

#issueDivs{
  border-radius: 5px;
  font-family: 'Kanit', sans-serif;
  transition: 1.5s;
  position: relative;
}

.container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #8742f5;
    color: #fff;
}

.cardcontent {
    display: none;
    padding: 6px 12px;
    border: 5px solid #ccc;
}

.cardlinks {
  font-family: 'Kanit', sans-serif;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 200px;
    border-radius: 5px 5px 0 0;
    margin: 20px;
}

.tab button {
    width: inherit;
    background-color: #8742f5;
    color: #fff;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 20px;
    font-weight: bolder;

}

.tab button:hover {
    background-color: #fff;
    color: #8742f5;
}

.tab button.active {
    background-color: #ccc;
}

.testselectclass {
    width: inherit;
    height: 30px;
    display: inline-block;
    position: relative;
    background-color: #8742f5;
    color: #fff;
    font-family: 'Kanit', sans-serif;
    font-weight: 15px;
}

input {
  width: 150px;
  height: 30px;
  display: inline-block;
  position: relative;
  background-color: #8742f5;
  color: #fff;
  font-family: 'Kanit', sans-serif;
  font-weight: 15px;
  border-style: none;
  margin-left: 10px;
  text-indent: 5px;
  border-radius: 5px;
  transition: 1.5s;
}

input:hover {
  width: 200px;
}

::placeholder{
  color: #fff;
}

@keyframes spinner {
  to {
    transform: rotate(-360deg);
  }
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75px;
  height: 75px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: #07d;
  border-bottom-color: #07d;
  animation: spinner 2.5s ease infinite;
}

body > a {
    text-decoration-line: none;
    color: black;
    border: 2px solid black;
    padding: 5px;
}

body > a:hover {
    box-shadow: 5px 5px black;
}