<div class="jumbotron">
    <div class="container">
        <button mat-button class="btn-primary" onclick="getInfo()">Click me first to retreive data from API</button>

        <!-- <button class="btn btn-primary btn-lg" onclick="groupList()">Click me first to retreive data from API</button> -->
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div id="headBar">
                <select id="groupList" onchange="repoList(this.selectedIndex-1)">
                    <option disabled selected>Project List</option>
                </select>
                <select id="repoList"></select>
                <input type="button" onclick="selectRepo()" value="Get Information">
            </div>
        </div>

        <div class="col-md-4">
            <h2>Evolution - Issues New (Repo)</h2>
        </div>

        <div class="col-md-4">
            <span id="groupName1"></span><br><span id="repoName1"></span>
            <div id="colGraph"></div>
        </div>
    </div>
</div>


