<div class="jumbotron">
    <div class="container">
      <h1 class="home">Meet the Team</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p>Harry and Ron</p>
            <img src="../../assets/SarahCats.jpg" width="300" height="400">
        </div>
        <div class="col-md-4">
            <p>Cookie</p>
            <img src="../../assets/AlexCat2.jpg" width="375" height="400">
        </div>
        <div class="col-md-4">
            <p>Umi</p>
            <img src="../../assets/AlexCat.jpg" width="300" height="420">
        </div>
        <div class="col-md-4">
            <p>Fluffy</p>
            <img src="../../assets/AlexHampster.jpg" width="400" height="400">
        </div>
        <div class="col-md-4">
            <p>Cali</p>
            <img src="../../assets/ChristinaDog.jpg" width="325" height="400">
        </div>
    </div>
    <hr>
</div>