* {
    font-family: Sans, sans-serif;
    font-weight: bolder;
    color: black;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    margin: 0;
  }
  
  .container {
    display: flex;
    flex-direction: row;
  }
  
  router-outlet + *  {
    padding: 0 16px;
  }
  
  /* Text */
  
  h1 {
    font-size: 32px;
  }
  
  h2 {
    font-size: 20px;
  }
  
  h1, h2 {
    font-weight: lighter;
  }
  
  p {
    font-size: 14px;
  }
  
  /* Link to each GOT Character */
  
  a {
    cursor: pointer;
    color: black;
    text-decoration: none;
  }
  
  a:hover {
    opacity: 0.5;
  }
  
  /* Input */
  
  input {
    font-size: 14px;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #BDBDBD;
  }
  
  label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
    text-transform: uppercase;
  }
  
  /* Button */
  .button, button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 2px;
    margin-bottom: 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: white;
    color: darkred;
    border: none;
  }
  
  .button:hover, button:hover {
    opacity: 0.5;
    font-weight: normal;
  }
  
  .button:disabled, button:disabled {
    opacity: 0.5;
    cursor: auto;
  }
  
  /* Nav Bar */
  
  app-nav-bar {
    width: 100%;
    height: 100px;
    background-color: white;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  app-nav-bar h1 {
    color: black;
    margin: 0;
  }