 <!-- All this needs to be is the html code you want to dislay inside the ng container in the detail page component.html
      everything in here will be displayed in the app-contributors tag -->

<h3>Contributors</h3><br>

    <ng-container *ngIf="!contributors">
        <h4>Loading repos in group, please wait a moment...</h4>
    </ng-container>

    <ng-container *ngIf="contributors && contributors.length === 0">
        <h4>No Contributors found in this repository</h4>
    </ng-container>

    <ng-container *ngIf="contributors">
        <div class="card-deck">

            <div *ngFor="let cont of contributors">

                <div class="card custom-card">

                    <h3> User: {{ cont.user_id }} </h3>
                    <br>
                    <h4> Number of commits: {{ cont.commits }} </h4>
                    <h4> Number of issues: {{ cont.issues }} </h4>
                    <h4> Pull requests: {{ cont.pull_requests }} </h4>
                    <h4> Total: {{ cont.total }} </h4>

                </div>


            </div>

        </div>

    </ng-container>
