<div class="jumbotron">
    <div class="container">
        <h1 class="home">AUGUR Metric Visualisation Version 2.3</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>About:</h2>
            <p>The purpose of our site is to display real-time data from Augur in various graph formats. </p>
                <p>Specifically, we aimed for you to be able to visualise the different repositories and groups in Augur. </p>
                <p> On our site, you should be able to compare the pushes/pulls, additions, issues and contributions of various Augur groups.</p>
        </div>
    </div>

</div>
    
<hr>
<div class="container">
    <div class="col-md-4">
        <h2>More Information:</h2>
        <p> Learn more about our teams development process and direction here!</p>
        <p><a class="btn btn-primary btn-lg" href="https://github.com/computationalmystic/sengfs19-group12" role="button">Learn More &raquo;</a></p>
  
    
        <h2>Tutorials and Updates:</h2>
        <p> Learn how to use our site and follow here for site updates, issue reports, and troubleshooting!</p>
        <p><a class="btn btn-primary btn-lg" href="https://github.com/computationalmystic/sengfs19-group12/tree/master/test" role="button">How To Use &raquo;</a></p>
  
    </div>
</div>
<hr>
