<h1>Issues</h1>
<h3>Below are top issues for Repo Group {{urlGroupId}}.</h3>
<br>

<ng-container *ngIf="!issues">
    <h4>Loading issue information...</h4>
</ng-container>

<ng-container *ngIf="issues">
    <div *ngFor="let issue of issues">
        <div>
            <h3><b>Issue Title: {{issue.issue_title}}</b></h3>
            <h3 style=" font-size:small">Assignee Count: {{issue.assignee_count}} </h3>
            <h3 style=" font-size:small">Date Created: {{ issue.date | date:"M/d/yy, h:mm a" }}</h3>
            <h3 style=" font-size:small">Repo Group Name: {{issue.rg_name}}</h3>
        </div>
    </div>
</ng-container>