# DEI Badging Report

## Project: {{ project.id }}

- Level: {{ project.level }}
- Repo:
    - {{ project.repo.repo_id }}
    - {{ project.repo.repo_git }}

{% if project.level == "gold" %}

{% elif project.level == "bronze" %}

{% else %}

# ERROR

{% endif %}