{#% if groups %}
    <div class="rounded display-table w3-animate-opacity">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Group Name</th>
                    <th scope="col">Data Collectio</th>
                </tr>
            </thead>
            <tbody>
        {% for group in groups %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td><a href="{{ url_for('repo_groups_view', group=group.repo_group_id) }}">{{ group.name }}</a></td>
                    <td>{{ group.data_collection_date }}</td>
                    <td>TODO</td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
{% elif query_key %}
    <h1>Your search did not match any results</h1>
{% else %}
    <h1>Unable to load group information</h1>
{% endif %#}
