<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: var(--color-accent);">
    <div class="container-fluid" id="navbar">
        <!-- BRAND LOGO -->
        <a class="navbar-brand nav-image" href="{{ url_for('root') }}"><img src="{{ url_for('logo') }}" class="img-fluid nav-img" alt="augur Logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- DECORATIVE SEPARATOR (hidden on mobile) -->
        <div class="rounded nav-separator collapse navbar-collapse">&nbsp;</div>
        <span class="collapse navbar-collapse" style="max-width: 10px;"></span>

        <!-- NAVBAR CONTENT -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- COLLAPSABLE NAVBAR SECTION -->

                {% if current_user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ current_user.login_name }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('user_settings') }}">Profile</a></li>
                        {# <li><a class="dropdown-item" href="{{ url_for('dashboard_view') }}">Dashboard</a></li> #}
                        <li><a class="dropdown-item" href="{{ url_for('user_logout') }}">Logout</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ url_for('user_login') }}">Login</a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link {% if title == 'Groups' %} active {% endif %}" aria-current="page" href="{{ url_for('user_groups_view') }}">Groups</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if title == 'Repos' %} active {% endif %}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Repos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('repo_table_view') }}">Table View</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('repo_card_view') }}">Card View</a></li>
                    </ul>
                </li>

                <!-- STATIC NAVBAR SECTION -->
                {# <li class="nav-item">
                    <a class="nav-link {% if title == 'Groups' %} active {% endif %}" aria-current="page" href=" {{ url_for('repo_groups_view') }}">Groups</a>
                </li> #}
                <li class="nav-item">
                    <a class="nav-link {% if title == 'Status' %} active {% endif %}" aria-current="page" href="{{ url_for('status_view') }}">Collection Status</a>
                </li>
                <!-- .junk->NAVBAR_EXTRAS -->
            </ul>
            {# <ul class="navbar-nav navbar-right">
                <li class="nav-item  collapse navbar-collapse">
                    <a class="navbar-brand" data-bs-toggle="offcanvas" data-bs-target="#notifications-panel" aria-controls="notifications-panel" href="#First">
                        <img class="notification-icon" src="{{ url_for('static', filename='img/notification-icon.svg') }}">
                    </a>
                </li>
            </ul> #}
            <form class="d-flex" method="get" action="?">
                <input class="form-control me-2" name="q" type="search" placeholder="Filter Repos" aria-label="Search" value="{{query_key or ''}}">
                <button class="btn btn-outline-dark" type="submit" style="color: white;">Search</button>
            </form>
        </div>
    </div>
</nav>
