<h1>Password Reset</h1>
<p>Enter your email below</p>
<p>If this email is associated with an account, a password reset link will be sent.</p>
<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <form id="verify-form" class="form-signin" style="width: 400px;" method="post" action="#">
            <p>
                <input type="text" id="email" name="email" class="form-control" placeholder="Email" required autofocus>
            </p>
            <div class="btn" style="background-color: var(--color-accent); padding: 0; margin: 0;">
                <button id="verbtn" class="btn btn-outline-dark" style="color: white;" type="submit" name="signin">submit</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    function formError(event, message) {
        event.preventDefault();
        flashToast(message);
    }

    function submitForm(event) {
        event.preventDefault();

        otp = document.getElementById("otp").value;

        fetch("{{ url_for("user_password_reset") }}?email=" + email)
            .then((response) => response.json())
            .then((data) => {
                if (data.status == "Success") {
                    window.location.replace("{{ url_for("user_settings") }}")
                } else {
                    flashToast(data.status)
                }
            });
    }

    form = document.getElementById("verify-form");
    form.addEventListener("submit", submitForm);
</script>