<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180"
        href="{{ url_for('static', filename= 'favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static', filename= 'favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static', filename= 'favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename= 'favicon/site.webmanifest') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- jQuery Google CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="{{ url_for('static', filename= 'css/dashboard.css') }}" rel="stylesheet">

    <title>Settings - Augur View</title>
</head>

<body>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    {% include 'notifications.j2' %}
    <div class="container-fluid overflow-hidden">
        <div class="row vh-100 overflow-none">
            <div class="col-12 col-md-3 col-xxl-2 d-flex sticky-top dashboard-sidebar">
                <div
                    class="d-flex flex-md-column text-truncate flex-row flex-grow-1 align-items-center align-items-md-start px-3 py-2 text-white">
                    <a href="{{ url_for('root') }}"
                        class="d-flex align-items-around mw-100 text-white text-decoration-none">
                        <img src="{{ url_for('logo') }}" alt="Augur logo" height="40" class="rounded-circle me-2">
                    </a>
                    <ul class="nav nav-pills flex-md-column flex-row flex-nowrap flex-shrink-1 flex-md-grow-0 flex-grow-1 mb-md-auto mb-0 justify-content-center align-items-center align-items-md-start"
                        id="menu">
                        {# <li>
                            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-sm-0 px-2">
                                <i class="fs-5 bi-speedometer2"></i><span
                                    class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
                        </li> #}
                        <li>
                            <a id="profile-link" href="#profile" class="nav-link active px-sm-0 px-2">
                                <i class="fs-5 bi-person-circle"></i><span
                                    class="ms-2 d-none d-md-inline">Profile</span></a>
                        </li>
                        <li>
                            <a id="tracker-link" href="#tracker" class="nav-link px-sm-0 px-2">
                                <i class="fs-5 bi-git"></i><span class="ms-2 d-none d-md-inline">My Repos</span></a>
                        </li>
                        <li>
                            <a id="application-link" href="#application" class="nav-link px-sm-0 px-2">
                                <i class="fs-5 bi-server"></i><span class="ms-2 d-none d-md-inline">Applications</span>
                            </a>
                        </li>
                        {# <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle px-sm-0 px-1" id="dropdown"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fs-5 bi-bootstrap"></i><span class="ms-1 d-none d-sm-inline">Bootstrap</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdown">
                                <li><a class="dropdown-item" href="#">New project...</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Sign out</a></li>
                            </ul>
                        </li> #}
                    </ul>
                    <div class="py-md-4 mt-md-auto flex-shrink-1">
                        <span class="fs-4">
                            <p>{{ current_user.login_name[0] }}
                                {%- if current_user.login_name|length > 1 -%}
                                <span class="d-none d-md-inline">{{ current_user.login_name[1:] }}</span>
                                {% endif %}
                            </p>
                        </span>
                        {# <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="hugenerd" width="28" height="28"
                                class="rounded-circle">
                            <span class="d-none d-sm-inline mx-1">Joe</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul> #}
                    </div>
                </div>
            </div>
            <div class="col d-flex flex-column h-100 pb-5 overflow-scroll">
                {# <main class="row overflow-auto">
                    <div class="col pt-4">
                        <h3>Vertical Sidebar that switches to Horizontal Navbar</h3>
                        <p class="lead">An example multi-level sidebar with collasible menu items. The menu functions
                            like an "accordion" where only a single menu is be open at a time.</p>
                        <hr />
                        <h3>More content...</h3>
                        <p>content...</p>
                    </div>
                </main>
                <footer class="row bg-light py-4 mt-auto">
                    <div class="col"> Footer content here... </div>
                </footer> #}
                {# Start dashboard content #}
                <div class="col mb-3 content-column">
                    <div id="profile-div">
                        <h1 id="profile-section">Profile</h1>
                        {# Start content card #}
                        <div class="card dashboard-content">
                            <div class="card-body">
                                {# Start form body #}
                                <div class="row justify-content-center">
                                    <div class="col-12 col-xl-4">
                                        <div class="card user-card">
                                            <div class="card-body">
                                                <h1>{{ current_user.id }}</h1>
                                                <a id="delete-link" href="#">Delete Account</a>
                                            </div>
                                            <div class="card-footer">
                                                <small class="text-muted">User Profile</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-8">
                                        <h2>Update Password</h2>
                                        <form id="user-settings-form" class="form-inline user-settings-form"
                                            method="POST" action="{{ url_for('user_update_password') }}">
                                            <div class="form-group">
                                                <label for="password">Current Password</label>
                                                <input type="password" name="password" id="password"
                                                    class="form-control" required>
                                                <label for="new_password">New Password</label>
                                                <input type="password" name="new_password" id="new_password"
                                                    class="form-control" aria-describedby="passwordHelpInline" required>
                                                <small id="passwordHelpInline" class="text-muted">
                                                    Must be 8-20 characters long.
                                                </small>
                                                <br>
                                                <label for="new_password_confirmation">Confirm New Password</label>
                                                <input type="password" name="new_password_confirmation"
                                                    id="new_password_confirmation" class="form-control" required>
                                            </div>
                                            <div class="btn"
                                                style="background-color: var(--color-accent); padding: 0; margin: 0; margin-top: 10px;">
                                                <button class="btn btn-outline-dark" style="color: white;" type="submit"
                                                    name="register">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tracker-div" hidden>
                        <h1 id="tracker-section">My Repos</h1>
                        {# Start content card #}
                        <div class="card dashboard-content">
                            <div class="card-body">
                                <div class="row justify-content-center">
                                    <div class="col-12 col-xxl-4">
                                        <br>
                                        <h2>Your Repo Groups</h2>
                                        {%- set groups = current_user.get_groups()[0] -%}
                                        {% if groups %}
                                        {%- set tableHeaders =
                                        [{"title" : "Group"},
                                        {"title" : "Number of repos"},
                                        {"title" : "Favorite"},
                                        {"title" : ""}]
                                        -%}
                                        <div class="display-table table-responsive rounded w3-animate-opacity">
                                            <table class="table table-striped table-bordered">
                                                <!-- Table header start -->
                                                <thead>
                                                    <tr>
                                                        {%- for header in tableHeaders -%}
                                                        <th scope="col">{{ header.title }}</th>
                                                        {%- endfor -%}
                                                    </tr>
                                                </thead>
                                                <!-- Table rows start -->
                                                <tbody>
                                                    {% for group in groups %}
                                                    <tr>
                                                        <th scope="row"><a
                                                                href="{{ url_for('user_group_view', group=group.name) }}">{{
                                                                group.name }}</a></th>
                                                        <td>{{ group.repos | length }}</td>
                                                        <td><i role="button" onclick="toggleFavorite(this, '{{ group.name }}')"
                                                                class="bi {% if group.favorited %} bi-star-fill {% else %} bi-star {% endif %}"></i>
                                                        </td>
                                                        <td><button class="btn btn-outline-primary btn-sm"
                                                                onclick="delgroup(this, '{{ group.name }}')">Delete</button>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        {% else %}
                                        <h3>No groups created</h3>
                                        {% endif %}
                                        <form id="add_group_form" class="form-inline user-settings-form" method="POST"
                                            action="{{ url_for('user_add_group') }}">
                                            <div class="form-group">
                                                <label for="group_name">New Group Name</label>
                                                <input type="text" id="group_name" name="group_name"
                                                    class="form-control" required>
                                            </div>
                                            <div class="btn"
                                                style="background-color: var(--color-accent); padding: 0; margin: 0; margin-top: 10px;">
                                                <button class="btn btn-outline-dark" style="color: white;" type="submit"
                                                    name="add_group">Add</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-12 col-xxl-8">
                                        <br>
                                        <h2>Add Repos</h2>
                                        <form id="user_repo_form" class="form-inline user-settings-form" method="POST"
                                            action="{{ url_for('av_add_user_repo') }}">
                                            <div class="form-group">
                                                <label for="repo_url">New Repo or Organization URL</label>
                                                <textarea id="repo_url" name="urls" class="form-control" rows="4"
                                                    placeholder="{org}/{repo}&#10{org}&#10https://github.com/{org}/{repo}/&#10https://github.com/{org}/"
                                                    required></textarea>
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <label for="group_name">Group Name</label>
                                                <select name="group_name" id="group_name">
                                                    {%- set groups = current_user.get_groups()[0] -%}
                                                    {% if groups %}
                                                    {% for group in groups %}
                                                    <option>{{ group.name }}</option>
                                                    {% endfor %}
                                                    {% else %}
                                                    <option>None</option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                            <div class="btn"
                                                style="background-color: var(--color-accent); padding: 0; margin: 0; margin-top: 10px;">
                                                <button class="btn btn-outline-dark" style="color: white;" type="submit"
                                                    name="add_repo">Add</button>
                                            </div>
                                        </form>
                                        <p>
                                            <br />
                                        <h3>What to Expect When You Are Expecting New Data</h3>
                                        <div style="text-align: center;">
                                            <img src="{{ url_for('static', filename='img/tswiftjet.png')}}"
                                                alt="A Swift Jet">
                                        </div>
                                        <blockquote>Augur collects data swiftly and fairly. Users adding 20 new
                                            repositories
                                            at a go will see core data faster (24 hours) than users adding 4,000 (48
                                            hours).
                                        </blockquote>
                                        <blockquote>Expect your data in 24 hours. If another user already requested the
                                            same
                                            repository or organization you did, that data shows up for you immediately.
                                            <span style="color: yellow"> Meaning, that if some repositories in your
                                                group
                                                are loved by others, you will see a number other than "0" in the "Number
                                                of
                                                repos" column of your repo groups list NOW! If you are a repository's
                                                first
                                                love, group repository counts are updated nightly.</span>
                                        </blockquote>
                                        <blockquote>
                                            If you encounter any issues loading new repositories, please open an issue
                                            at <a target="_blank"
                                                href='https://github.com/chaoss/augur/issues'>https://github.com/chaoss/augur/issues</a>
                                        </blockquote>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="application-div" hidden>
                        <h1 id="application-section">Applications</h1>
                        {# Start content card #}
                        <div class="card dashboard-content">
                            <div class="card-body">
                                <div class="row justify-content-center">
                                    <div class="col-12 col-xl-4">
                                        <br>
                                        <h2>Your Connected Apps</h2>
                                        {%- set sessions = current_user.tokens -%}
                                        {% if sessions %}
                                        {%- set tableHeaders =
                                        [{"title" : "Application"},
                                        {"title" : "Connected"},
                                        {"title" : ""}]
                                        -%}
                                        <div class="display-table table-responsive rounded w3-animate-opacity">
                                            <table class="table table-striped table-bordered">
                                                <!-- Table header start -->
                                                <thead>
                                                    <tr>
                                                        {%- for header in tableHeaders -%}
                                                        <th scope="col">{{ header.title }}</th>
                                                        {%- endfor -%}
                                                    </tr>
                                                </thead>
                                                <!-- Table rows start -->
                                                <tbody>
                                                    {% for session in sessions %}
                                                    <tr>
                                                        <th scope="row">{{ session.application.name }}</th>
                                                        <td>{{ session.created_at | as_datetime }}</td>
                                                        <td><button class="btn btn-outline-primary btn-sm"
                                                                onclick="deauthorize(this, '{{ session.token }}')">Disconnect</button>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        {% else %}
                                        <h3>No apps connected</h3>
                                        {% endif %}
                                    </div>
                                    <div class="col-12 col-xl-8">
                                        <br>
                                        <h2>Your Apps</h2>
                                        {%- set applications = current_user.applications -%}
                                        {% if applications %}
                                        {%- set tableHeaders =
                                        [{"title" : "Application ID"},
                                        {"title" : "Name"},
                                        {"title" : "Redirect URL"},
                                        {"title" : "Connected Users"},
                                        {"title" : "Client Secret"},
                                        {"title" : ""}]
                                        -%}
                                        <div class="display-table table-responsive rounded w3-animate-opacity">
                                            <table class="table table-striped table-bordered">
                                                <!-- Table header start -->
                                                <thead>
                                                    <tr>
                                                        {%- for header in tableHeaders -%}
                                                        <th scope="col">{{ header.title }}</th>
                                                        {%- endfor -%}
                                                    </tr>
                                                </thead>
                                                <!-- Table rows start -->
                                                <tbody>
                                                    {% for app in applications %}
                                                    <tr>
                                                        <th scope="row">{{ app.id }}</th>
                                                        <td>{{ app.name }}</td>
                                                        <td>{{ app.redirect_url }}</td>
                                                        <td>{{ app.sessions | length }}</td>
                                                        <td><button class="btn btn-outline-primary btn-sm"
                                                                onclick="reveal_key(this, '{{ app.api_key }}')">Reveal</button></td>
                                                        <td><button class="btn btn-outline-primary btn-sm"
                                                                onclick="delete_app(this, '{{ app.id }}')">Delete</button>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        {% else %}
                                        <h3>No apps defined</h3>
                                        {% endif %}
                                        <br>
                                        <h1>Create Application</h1>
                                        <form id="define_application_form" class="form-inline user-settings-form"
                                            method="POST" action="{{ url_for('user_app_create') }}">
                                            <div class="form-group">
                                                <label for="app_name">App Name</label>
                                                <input type="text" id="app_name" name="app_name" class="form-control"
                                                    required>
                                            </div>
                                            <div class="form-group">
                                                <label for="app_url">Redirect URL</label>
                                                <input type="text" id="app_url" name="app_url" class="form-control"
                                                    required>
                                            </div>
                                            <div class="btn"
                                                style="background-color: var(--color-accent); padding: 0; margin: 0; margin-top: 10px;">
                                                <button class="btn btn-outline-dark" style="color: white;" type="submit"
                                                    name="create_app">Create</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    {# <div class="container-fluid h-100 d-flex flex-column fixed-top" style="height: 100%;">
        <div class="row flex-fill" style="height: inherit;">
            <div class="d-flex flex-column p-3 text-white dashboard-sidebar mh-100 hidden-sm hidden-xs">
                <a href="{{ url_for('root') }}"
                    class="d-flex align-items-around mw-100 text-white text-decoration-none">
                    <img src="{{ url_for('logo') }}" alt="Augur logo" height="40" class="rounded-circle me-2">
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto" id="nav-list">
                    <li class="nav-item">
                        <a href="{{ url_for('user_settings') }}?section=profile" class="nav-link active"
                            aria-current="page">Profile</a>
                    </li>
                    <li>
                        <a href="{{ url_for('user_settings') }}?section=tracker" class="nav-link text-white">Repo
                            Tracker</a>
                    </li>
                    <li>
                        <a href="{{ url_for('user_settings') }}?section=application"
                            class="nav-link text-white">Applications</a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown">
                    <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-4">Settings</span>
                    </div>
                </div>
            </div> #}
            <div id="loading-modal" class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered spinner-container">
                    <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66"
                        xmlns="http://www.w3.org/2000/svg">
                        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30">
                        </circle>
                    </svg>
                </div>
            </div>
</body>
<script src="{{ url_for('static', filename='js/range.js') }}" charset="utf-8"></script>
<script type="text/javascript">
    var elements = document.getElementsByClassName("nav-link");
    range(elements.length).forEach((i) => {
        elements[i].addEventListener("click", function () {
            setActive(elements[i]);
        })
    });

    function getDivFromNavLink(navLink) {
        var href = navLink.getAttribute("href");
        var div_id = href.replace("#", "");
        return document.getElementById(div_id + "-div");
    }

    function setActive(navLink) {
        if(!navLink) {
            return;
        }
        
        var elements = document.getElementsByClassName("nav-link");
        range(elements.length).forEach((i) => {
            if (elements[i].classList.contains("active")) {
                elements[i].classList.remove("active");

                div = getDivFromNavLink(elements[i]);
                div.hidden = true;
            }
        });
        navLink.classList.add("active");

        div = getDivFromNavLink(navLink);
        div.hidden = false;
    }
</script>
<script type="text/javascript">
    function setConfirm(button) {
        button.setAttribute("data-confirm", "true");
        button.innerHTML = "Confirm";
        button.classList.remove("btn-outline-primary");
        button.classList.add("btn-outline-danger");
    }
    var delgroup = function(button, name) {
        if (button.getAttribute("data-confirm")) {
            window.location.replace("{{ url_for('user_remove_group') }}?group_name=" + name)
        } else {
            setConfirm(button);
        }
    }
    var deauthorize = function(button, token) {
        if (button.getAttribute("data-confirm")) {
            window.location.replace("{{ url_for('user_app_deauthorize') }}?token=" + token)
        } else {
            setConfirm(button);
        }
    }
    var delete_app = function(button, id) {
        if(button.getAttribute("data-confirm")) {
            {# window.location.replace("{{ url_for('user_app_delete') }}?") #}
        } else {
            setConfirm(button);
        }
    }
    var reveal_key = function(button, key) {
        if(button.getAttribute("data-confirm")) {
            button.parentElement.innerHTML = key;
        } else {
            setConfirm(button);
        }
    }
    var toggleFavorite = function (button, group){
        fetch("{{ url_for("toggle_user_group_favorite") }}?group_name=" + group)
            .then((response) => response.json())
            .then((data) => {
                if (data.status == "Success") {
                    if (button.classList.contains("bi-star-fill")) {
                        button.classList.remove("bi-star-fill");
                        button.classList.add("bi-star");
                    } else {
                        button.classList.remove("bi-star");
                        button.classList.add("bi-star-fill");
                    }
                }
            });
    }
</script>
<script type="text/javascript">
    var deleteLink = document.querySelector("#delete-link");
    var loadingModal = new bootstrap.Modal(document.getElementById('loading-modal'));
    var confimationText = "Click again to confirm deletion";

    deleteLink.addEventListener("click", function () {
        if (deleteLink.innerHTML == confimationText) {
            window.location.replace("{{ url_for('user_delete')}}");
        } else {
            deleteLink.classList.toggle("link-warning");
            deleteLink.innerHTML = confimationText;
        }
    });

    function formError(event, message) {
        event.preventDefault();
        flashToast(message);
    }

    passForm = document.getElementById("user-settings-form");
    passForm.addEventListener("submit", (event) => {
        var password = document.getElementById("password");
        var newpassw = document.getElementById("new_password");
        var passconf = document.getElementById("new_password_confirmation")

        if(newpassw.value.length < 8) {
            formError(event, "Password must be at least 8 characters");
        } else if(newpassw.value.length > 20) {
            formError(event, "Password must be at most 20 characters");
        } else if(newpassw.value != passconf.value) {
            formError(event, "Passwords do not match");
        }
    });
</script>
<script type="text/javascript">
    function getActive() {
        if(window.location.toString().includes("?")) {
            var search_url = new URL(window.location);
            if(!search_url.searchParams.has("section")) {
                // No parameter named "section"
                return;
            }

            var navID = search_url.searchParams.get("section");
            var navlink = document.getElementById(navID + "-link");

            if(!navlink) {
                // section was invalid
                return;
            }
            
            setActive(navlink);
        }
    }

    getActive();
</script>

</html>