# Auto-generated OpenAPI 3.1.0 specification for Augur REST API
# Generated by: scripts/openapi/generate_openapi.py
# Version: 0.92.0
# Do not edit manually - regenerate with: python scripts/openapi/generate_openapi.py

openapi: 3.1.0
info:
  title: Augur REST API
  description: Python 3 package for free/libre and open-source software community metrics, models & data collection. Part
    of the CHAOSS project.
  version: 0.92.0
  contact:
    name: Augur Team
    url: https://github.com/chaoss/augur
    email: outdoors@acm.org
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
externalDocs:
  description: CHAOSS Metric Definitions
  url: https://chaoss.community/kb-metrics-and-metrics-models/
servers:
- url: https://ai.chaoss.io
  description: Production server
- url: http://localhost:5000
  description: Local development server
tags:
- name: health
  description: Health check and status endpoints
- name: utility
  description: Utility endpoints for repos and repo groups
- name: metrics-commits
  description: Commit-related CHAOSS metrics
- name: metrics-issues
  description: Issue-related CHAOSS metrics
- name: metrics-prs
  description: Pull request-related CHAOSS metrics
- name: metrics-contributors
  description: Contributor-related CHAOSS metrics
- name: metrics-releases
  description: Release-related CHAOSS metrics
- name: metrics-deps
  description: Dependency-related CHAOSS metrics
- name: metrics-repo-meta
  description: Repository metadata CHAOSS metrics
- name: metrics-messages
  description: Message/comment-related CHAOSS metrics
- name: metrics-insights
  description: Insight-related CHAOSS metrics
- name: metrics-toss
  description: TOSS (Toward Open Source Sustainability) metrics
- name: user
  description: User authentication and management
- name: application
  description: Client application endpoints
- name: config
  description: Configuration management
- name: collection-status
  description: Data collection status
- name: complexity
  description: Code complexity analysis
- name: metadata
  description: Repository metadata queries
- name: batch
  description: Batch request execution
- name: dei
  description: DEI (Diversity, Equity, Inclusion) badging
- name: nonstandard-metrics
  description: Non-standard metric endpoints
- name: auggie
  description: Auggie assistant integration
- name: graphql
  description: GraphQL API endpoint
paths:
  /ping:
    get:
      summary: Health Check Redirect
      description: Redirects to the API status endpoint.
      operationId: health_ping
      tags:
      - health
      responses:
        '302':
          description: Redirect to status endpoint
  /status:
    get:
      summary: Health Check Redirect
      description: Redirects to the API status endpoint.
      operationId: health_status
      tags:
      - health
      responses:
        '302':
          description: Redirect to status endpoint
  /healthcheck:
    get:
      summary: Health Check Redirect
      description: Redirects to the API status endpoint.
      operationId: health_healthcheck
      tags:
      - health
      responses:
        '302':
          description: Redirect to status endpoint
  /api/unstable/:
    get:
      summary: API Status
      description: Returns the API status and version.
      operationId: api_root_status
      tags:
      - health
      responses:
        '200':
          description: API is running
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
  /api/unstable/status:
    get:
      summary: API Status
      description: Returns the API status and version.
      operationId: api_status_endpoint
      tags:
      - health
      responses:
        '200':
          description: API is running
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
  /api/unstable/application:
    get:
      summary: Get Application Info
      operationId: get_api_unstable_application
      tags:
      - application
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/application/group/repos:
    get:
      summary: Get Application Group Repos
      description: Select repos from an application's user group by name
      operationId: get_api_unstable_application_group_repos
      tags:
      - application
      parameters:
      - name: group_name
        in: query
        required: false
        description: The name of the group to select
        schema:
          type: string
      - name: page
        in: query
        required: false
        description: The page offset to use for pagination (optional)
        schema:
          type: integer
          minimum: 0
          default: 0
      - name: page_size
        in: query
        required: false
        description: The number of result per page (optional)
        schema:
          type: integer
          minimum: 1
          default: 25
      - name: sort
        in: query
        required: false
        description: The name of the column to sort the data by (optional)
        schema:
          type: string
      - name: direction
        in: query
        required: false
        description: The direction to be used for sorting (optional)
        schema:
          type: string
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/application/group/repos/count:
    get:
      summary: Get Application Group Repo Count
      description: Count repos from a user group by name
      operationId: get_api_unstable_application_group_repos_count
      tags:
      - application
      parameters:
      - name: group_name
        in: query
        required: false
        description: The name of the group to select
        schema:
          type: string
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/application/groups/names:
    get:
      summary: Get Application Groups
      operationId: get_api_unstable_application_groups_names
      tags:
      - application
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/application/groups/repos/:
    get:
      summary: Get Application Groups And Repos
      description: Get a list of user groups and their repos
      operationId: get_api_unstable_application_groups_repos
      tags:
      - application
      parameters:
      - name: columns
        in: query
        required: false
        description: ''
        schema:
          type: string
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /auggie/get_user:
    post:
      summary: Get Auggie User
      operationId: post_auggie_get_user
      tags:
      - auggie
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /auggie/update_tracking:
    post:
      summary: Update Auggie User Tracking
      operationId: post_auggie_update_tracking
      tags:
      - auggie
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /auggie/slack_login:
    post:
      summary: Slack Login
      operationId: post_auggie_slack_login
      tags:
      - auggie
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/batch:
    get:
      summary: Batch
      description: Execute multiple requests, submitted as a batch.
      operationId: get_api_unstable_batch
      tags:
      - batch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
    post:
      summary: Batch
      description: Execute multiple requests, submitted as a batch.
      operationId: post_api_unstable_batch
      tags:
      - batch
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/batch/metadata:
    get:
      summary: Batch Metadata
      description: Returns endpoint metadata in batch format
      operationId: get_api_unstable_batch_metadata
      tags:
      - batch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
    post:
      summary: Batch Metadata
      description: Returns endpoint metadata in batch format
      operationId: post_api_unstable_batch_metadata
      tags:
      - batch
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/collection_status/commits:
    get:
      summary: Commit Collection Status
      operationId: get_api_unstable_collection_status_commits
      tags:
      - collection-status
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/collection_status/issues:
    get:
      summary: Issue Collection Status
      operationId: get_api_unstable_collection_status_issues
      tags:
      - collection-status
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/collection_status/pull_requests:
    get:
      summary: Pull Request Collection Status
      operationId: get_api_unstable_collection_status_pull_requests
      tags:
      - collection-status
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/complexity/project_languages:
    get:
      summary: Get Project Languages
      operationId: get_api_unstable_complexity_project_languages
      tags:
      - complexity
      parameters:
      - name: repo_id
        in: query
        required: false
        description: ''
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/complexity/project_files:
    get:
      summary: Get Project Files
      operationId: get_api_unstable_complexity_project_files
      tags:
      - complexity
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/complexity/project_lines:
    get:
      summary: Get Project Lines
      operationId: get_api_unstable_complexity_project_lines
      tags:
      - complexity
      parameters:
      - name: repo_id
        in: query
        required: false
        description: ''
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/complexity/project_comment_lines:
    get:
      summary: Get Project Comment Lines
      operationId: get_api_unstable_complexity_project_comment_lines
      tags:
      - complexity
      parameters:
      - name: repo_id
        in: query
        required: false
        description: ''
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/complexity/project_blank_lines:
    get:
      summary: Get Project Blank Lines
      operationId: get_api_unstable_complexity_project_blank_lines
      tags:
      - complexity
      parameters:
      - name: repo_id
        in: query
        required: false
        description: ''
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/complexity/project_file_complexity:
    get:
      summary: Get Project File Complexity
      operationId: get_api_unstable_complexity_project_file_complexity
      tags:
      - complexity
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/config/get:
    get:
      summary: Get Config
      operationId: get_api_unstable_config_get
      tags:
      - config
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/config/update:
    post:
      summary: Update Config
      operationId: post_api_unstable_config_update
      tags:
      - config
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/dei/repo/add:
    post:
      summary: Dei Track Repo
      operationId: post_api_unstable_dei_repo_add
      tags:
      - dei
      parameters:
      - name: id
        in: query
        required: false
        description: ''
        schema:
          type: integer
      - name: level
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: url
        in: query
        required: false
        description: ''
        schema:
          type: string
      security:
      - ApiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/dei/report:
    post:
      summary: Dei Report
      operationId: post_api_unstable_dei_report
      tags:
      - dei
      parameters:
      - name: id
        in: query
        required: false
        description: ''
        schema:
          type: integer
      security:
      - ApiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/metadata/repo_info:
    get:
      summary: Get Repo Info
      operationId: get_api_unstable_metadata_repo_info
      tags:
      - metadata
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/metadata/contributions_count:
    get:
      summary: Contributions Count
      operationId: get_api_unstable_metadata_contributions_count
      tags:
      - metadata
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/metadata/contributors_count:
    get:
      summary: Contributors Count
      operationId: get_api_unstable_metadata_contributors_count
      tags:
      - metadata
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/{license_id}/{spdx_binary}/{repo_group_id}/{repo_id}/license-files:
    get:
      summary: Get License Files
      operationId: get_api_unstable_license_id_spdx_binary_repo_group_id_repo_id_license-files
      tags:
      - nonstandard-metrics
      parameters:
      - name: license_id
        in: path
        required: true
        schema:
          type: integer
      - name: spdx_binary
        in: path
        required: true
        schema:
          type: string
      - name: repo_group_id
        in: path
        required: true
        schema:
          type: integer
      - name: repo_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/repo-groups/{repo_group_id}/top-insights:
    get:
      summary: Top Insights
      operationId: get_api_unstable_repo-groups_repo_group_id_top-insights
      tags:
      - nonstandard-metrics
      parameters:
      - name: repo_group_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/user/validate:
    post:
      summary: Validate User
      operationId: post_api_unstable_user_validate
      tags:
      - user
      parameters:
      - name: username
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: password
        in: query
        required: false
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/user/logout:
    post:
      summary: Logout User Func
      operationId: post_api_unstable_user_logout
      tags:
      - user
      security:
      - SessionAuth: []
      - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/user/authorize:
    get:
      summary: User Authorize
      operationId: get_api_unstable_user_authorize
      tags:
      - user
      security:
      - SessionAuth: []
      - BearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/user/session/generate:
    post:
      summary: Generate Session
      operationId: post_api_unstable_user_session_generate
      tags:
      - user
      parameters:
      - name: code
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: grant_type
        in: query
        required: false
        description: ''
        schema:
          type: string
      security:
      - ApiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/user/session/refresh:
    get:
      summary: Refresh Session
      operationId: get_api_unstable_user_session_refresh
      tags:
      - user
      parameters:
      - name: refresh_token
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: grant_type
        in: query
        required: false
        description: ''
        schema:
          type: string
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/user/query:
    post:
      summary: Query User
      operationId: post_api_unstable_user_query
      tags:
      - user
      parameters:
      - name: username
        in: query
        required: false
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/user/create:
    get:
      summary: Create User
      operationId: get_api_unstable_user_create
      tags:
      - user
      parameters:
      - name: username
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: password
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: email
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: first_name
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: last_name
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: create_admin
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/user/remove:
    post:
      summary: Delete User
      operationId: post_api_unstable_user_remove
      tags:
      - user
      security:
      - SessionAuth: []
      - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete User
      operationId: delete_api_unstable_user_remove
      tags:
      - user
      security:
      - SessionAuth: []
      - BearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/user/update:
    post:
      summary: Update User
      operationId: post_api_unstable_user_update
      tags:
      - user
      parameters:
      - name: email
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: new_username
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: new_password
        in: query
        required: false
        description: ''
        schema:
          type: string
      security:
      - SessionAuth: []
      - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/user/repo/add:
    get:
      summary: Add User Repo
      operationId: get_api_unstable_user_repo_add
      tags:
      - user
      parameters:
      - name: repo_url
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: group_name
        in: query
        required: false
        description: ''
        schema:
          type: string
      security:
      - SessionAuth: []
      - BearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/user/group/add:
    get:
      summary: Add User Group
      operationId: get_api_unstable_user_group_add
      tags:
      - user
      parameters:
      - name: group_name
        in: query
        required: false
        description: ''
        schema:
          type: string
      security:
      - SessionAuth: []
      - BearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/user/group/remove:
    get:
      summary: Remove User Group
      operationId: get_api_unstable_user_group_remove
      tags:
      - user
      parameters:
      - name: group_name
        in: query
        required: false
        description: ''
        schema:
          type: string
      security:
      - SessionAuth: []
      - BearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/user/org/add:
    get:
      summary: Add User Org
      operationId: get_api_unstable_user_org_add
      tags:
      - user
      parameters:
      - name: org_url
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: group_name
        in: query
        required: false
        description: ''
        schema:
          type: string
      security:
      - SessionAuth: []
      - BearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/user/repo/remove:
    get:
      summary: Remove User Repo
      operationId: get_api_unstable_user_repo_remove
      tags:
      - user
      parameters:
      - name: group_name
        in: query
        required: false
        description: ''
        schema:
          type: string
      - name: repo_id
        in: query
        required: false
        description: ''
        schema:
          type: integer
      security:
      - SessionAuth: []
      - BearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/user/group/repos/:
    get:
      summary: Group Repos
      description: Select repos from a user group by name
      operationId: get_api_unstable_user_group_repos
      tags:
      - user
      parameters:
      - name: group_name
        in: query
        required: false
        description: The name of the group to select
        schema:
          type: string
      - name: page
        in: query
        required: false
        description: The page offset to use for pagination (optional)
        schema:
          type: integer
          minimum: 0
          default: 0
      - name: page_size
        in: query
        required: false
        description: The number of result per page (optional)
        schema:
          type: integer
          minimum: 1
          default: 25
      - name: sort
        in: query
        required: false
        description: The name of the column to sort the data by (optional)
        schema:
          type: string
      - name: direction
        in: query
        required: false
        description: The direction to be used for sorting (optional)
        schema:
          type: string
      security:
      - SessionAuth: []
      - BearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/user/group/repos/count:
    get:
      summary: Group Repo Count
      description: Count repos from a user group by name
      operationId: get_api_unstable_user_group_repos_count
      tags:
      - user
      parameters:
      - name: group_name
        in: query
        required: false
        description: The name of the group to select
        schema:
          type: string
      security:
      - SessionAuth: []
      - BearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/user/groups/names:
    get:
      summary: Get User Groups
      description: Get a list of user groups by username
      operationId: get_api_unstable_user_groups_names
      tags:
      - user
      security:
      - SessionAuth: []
      - BearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/user/groups/repos/:
    get:
      summary: Get User Groups And Repos
      description: Get a list of user groups and their repos
      operationId: get_api_unstable_user_groups_repos
      tags:
      - user
      parameters:
      - name: columns
        in: query
        required: false
        description: ''
        schema:
          type: string
      security:
      - SessionAuth: []
      - BearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/user/group/favorite/toggle:
    get:
      summary: Toggle User Group Favorite
      description: Toggle the favorite status on a group
      operationId: get_api_unstable_user_group_favorite_toggle
      tags:
      - user
      parameters:
      - name: group_name
        in: query
        required: false
        description: ''
        schema:
          type: string
      security:
      - SessionAuth: []
      - BearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/user/groups/favorites:
    get:
      summary: Get Favorite Groups
      description: Get a list of a users favorite groups
      operationId: get_api_unstable_user_groups_favorites
      tags:
      - user
      security:
      - SessionAuth: []
      - BearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api:
    get:
      summary: Get Api Version
      operationId: get_api
      tags:
      - utility
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/repo-groups:
    get:
      summary: Get All Repo Groups
      operationId: get_api_unstable_repo-groups
      tags:
      - utility
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/repos:
    get:
      summary: Get All Repos
      operationId: get_api_unstable_repos
      tags:
      - utility
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/repo-groups/{repo_group_id}/repos:
    get:
      summary: Get Repos In Repo Group
      operationId: get_api_unstable_repo-groups_repo_group_id_repos
      tags:
      - utility
      parameters:
      - name: repo_group_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/repos/{repo_id}:
    get:
      summary: Get Repo By Id
      operationId: get_api_unstable_repos_repo_id
      tags:
      - utility
      parameters:
      - name: repo_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/owner/{owner}/repo/{repo}:
    get:
      summary: Get Repo By Git Name
      operationId: get_api_unstable_owner_owner_repo_repo
      tags:
      - utility
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: repo
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/rg-name/{rg_name}/repo-name/{repo_name}:
    get:
      summary: Get Repo By Name
      operationId: get_api_unstable_rg-name_rg_name_repo-name_repo_name
      tags:
      - utility
      parameters:
      - name: rg_name
        in: path
        required: true
        schema:
          type: string
      - name: repo_name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/rg-name/{rg_name}:
    get:
      summary: Get Group By Name
      operationId: get_api_unstable_rg-name_rg_name
      tags:
      - utility
      parameters:
      - name: rg_name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/dosocs/repos:
    get:
      summary: Get Repos For Dosocs
      operationId: get_api_unstable_dosocs_repos
      tags:
      - utility
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/repo-groups/{repo_group_id}/get-issues:
    get:
      summary: Get Issues
      operationId: get_api_unstable_repo-groups_repo_group_id_get-issues
      tags:
      - utility
      parameters:
      - name: repo_group_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/repos/{repo_id}/get-issues:
    get:
      summary: Get Issues
      operationId: get_api_unstable_repos_repo_id_get-issues
      tags:
      - utility
      parameters:
      - name: repo_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/api-port:
    get:
      summary: Api Port
      operationId: get_api_unstable_api-port
      tags:
      - utility
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /api/unstable/repos/{repo_id}/committers:
    get:
      summary: Committers
      operationId: repo_committers
      tags:
      - metrics-commits
      parameters:
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      - $ref: '#/components/parameters/periodQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/committers:
    get:
      summary: Committers (by Repo Group)
      operationId: repo_group_committers
      tags:
      - metrics-commits
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      - $ref: '#/components/parameters/periodQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/repos/{repo_id}/committers:
    get:
      summary: Committers (deprecated)
      operationId: deprecated_repo_committers
      tags:
      - metrics-commits
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      - $ref: '#/components/parameters/periodQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
      deprecated: true
      description: '**Deprecated:** Use `/api/unstable/repos/{repo_id}/committers` or `/api/unstable/repo-groups/{repo_group_id}/committers`
        instead.'
  /api/unstable/repos/{repo_id}/annual-commit-count-ranked-by-new-repo-in-repo-group:
    get:
      summary: Annual Commit Count Ranked By New Repo In Repo Group
      description: For each repository in a collection of repositories being managed, each REPO that first appears in the
        parameterized calendar year (a new repo in that year), show all commits for that year (total for year by repo). Result
        ranked from highest number of commits to lowest by default.
      operationId: repo_annual_commit_count_ranked_by_new_repo_in_repo_group
      tags:
      - metrics-commits
      parameters:
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      - $ref: '#/components/parameters/periodQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/annual-commit-count-ranked-by-new-repo-in-repo-group:
    get:
      summary: Annual Commit Count Ranked By New Repo In Repo Group (by Repo Group)
      description: For each repository in a collection of repositories being managed, each REPO that first appears in the
        parameterized calendar year (a new repo in that year), show all commits for that year (total for year by repo). Result
        ranked from highest number of commits to lowest by default.
      operationId: repo_group_annual_commit_count_ranked_by_new_repo_in_repo_group
      tags:
      - metrics-commits
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      - $ref: '#/components/parameters/periodQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/repos/{repo_id}/annual-commit-count-ranked-by-new-repo-in-repo-group:
    get:
      summary: Annual Commit Count Ranked By New Repo In Repo Group (deprecated)
      description: For each repository in a collection of repositories being managed, each REPO that first appears in the
        parameterized calendar year (a new repo in that year), show all commits for that year (total for year by repo). Result
        ranked from highest number of commits to lowest by default. **Deprecated:** Use `/api/unstable/repos/{repo_id}/annual-commit-count-ranked-by-new-repo-in-repo-group`
        or `/api/unstable/repo-groups/{repo_group_id}/annual-commit-count-ranked-by-new-repo-in-repo-group` instead.
      operationId: deprecated_repo_annual_commit_count_ranked_by_new_repo_in_repo_group
      tags:
      - metrics-commits
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      - $ref: '#/components/parameters/periodQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
      deprecated: true
  /api/unstable/repos/{repo_id}/annual-commit-count-ranked-by-repo-in-repo-group:
    get:
      summary: Annual Commit Count Ranked By Repo In Repo Group
      description: For each repository in a collection of repositories being managed, each REPO's total commits during the
        current Month, Year or Week. Result ranked from highest number of commits to lowest by default.
      operationId: repo_annual_commit_count_ranked_by_repo_in_repo_group
      tags:
      - metrics-commits
      parameters:
      - $ref: '#/components/parameters/repoIdPath'
      - name: timeframe
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/annual-commit-count-ranked-by-repo-in-repo-group:
    get:
      summary: Annual Commit Count Ranked By Repo In Repo Group (by Repo Group)
      description: For each repository in a collection of repositories being managed, each REPO's total commits during the
        current Month, Year or Week. Result ranked from highest number of commits to lowest by default.
      operationId: repo_group_annual_commit_count_ranked_by_repo_in_repo_group
      tags:
      - metrics-commits
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - name: timeframe
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/repos/{repo_id}/annual-commit-count-ranked-by-repo-in-repo-group:
    get:
      summary: Annual Commit Count Ranked By Repo In Repo Group (deprecated)
      description: For each repository in a collection of repositories being managed, each REPO's total commits during the
        current Month, Year or Week. Result ranked from highest number of commits to lowest by default. **Deprecated:** Use
        `/api/unstable/repos/{repo_id}/annual-commit-count-ranked-by-repo-in-repo-group` or `/api/unstable/repo-groups/{repo_group_id}/annual-commit-count-ranked-by-repo-in-repo-group`
        instead.
      operationId: deprecated_repo_annual_commit_count_ranked_by_repo_in_repo_group
      tags:
      - metrics-commits
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/repoIdPath'
      - name: timeframe
        in: query
        required: false
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
      deprecated: true
  /api/unstable/repos/{repo_id}/top-committers:
    get:
      summary: Top Committers
      description: Returns a list of contributors contributing N% of all commits.
      operationId: repo_top_committers
      tags:
      - metrics-commits
      parameters:
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/yearQuery'
      - $ref: '#/components/parameters/thresholdQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/top-committers:
    get:
      summary: Top Committers (by Repo Group)
      description: Returns a list of contributors contributing N% of all commits.
      operationId: repo_group_top_committers
      tags:
      - metrics-commits
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/yearQuery'
      - $ref: '#/components/parameters/thresholdQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/repos/{repo_id}/top-committers:
    get:
      summary: Top Committers (deprecated)
      description: Returns a list of contributors contributing N% of all commits. **Deprecated:** Use `/api/unstable/repos/{repo_id}/top-committers`
        or `/api/unstable/repo-groups/{repo_group_id}/top-committers` instead.
      operationId: deprecated_repo_top_committers
      tags:
      - metrics-commits
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/yearQuery'
      - $ref: '#/components/parameters/thresholdQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
      deprecated: true
  /api/unstable/repos/{repo_id}/contributors:
    get:
      summary: Contributors
      description: Returns a timeseries of all the contributions to a project.
      operationId: repo_contributors
      tags:
      - metrics-contributors
      parameters:
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    date:
                      type: string
                      format: date-time
                    commits:
                      type: integer
                    pull_requests:
                      type: integer
                    issues:
                      type: integer
                    commit_comments:
                      type: integer
                    pull_request_comments:
                      type: integer
                    issue_comments:
                      type: integer
                    total:
                      type: integer
                description: 'Array of records with columns: date, commits, pull_requests, issues, commit_comments, pull_request_comments,
                  issue_comments, total'
  /api/unstable/repo-groups/{repo_group_id}/contributors:
    get:
      summary: Contributors (by Repo Group)
      description: Returns a timeseries of all the contributions to a project.
      operationId: repo_group_contributors
      tags:
      - metrics-contributors
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    date:
                      type: string
                      format: date-time
                    commits:
                      type: integer
                    pull_requests:
                      type: integer
                    issues:
                      type: integer
                    commit_comments:
                      type: integer
                    pull_request_comments:
                      type: integer
                    issue_comments:
                      type: integer
                    total:
                      type: integer
                description: 'Array of records with columns: date, commits, pull_requests, issues, commit_comments, pull_request_comments,
                  issue_comments, total'
  /api/unstable/repo-groups/{repo_group_id}/repos/{repo_id}/contributors:
    get:
      summary: Contributors (deprecated)
      description: Returns a timeseries of all the contributions to a project. **Deprecated:** Use `/api/unstable/repos/{repo_id}/contributors`
        or `/api/unstable/repo-groups/{repo_group_id}/contributors` instead.
      operationId: deprecated_repo_contributors
      tags:
      - metrics-contributors
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    date:
                      type: string
                      format: date-time
                    commits:
                      type: integer
                    pull_requests:
                      type: integer
                    issues:
                      type: integer
                    commit_comments:
                      type: integer
                    pull_request_comments:
                      type: integer
                    issue_comments:
                      type: integer
                    total:
                      type: integer
                description: 'Array of records with columns: date, commits, pull_requests, issues, commit_comments, pull_request_comments,
                  issue_comments, total'
      deprecated: true
  /api/unstable/repos/{repo_id}/contributors-new:
    get:
      summary: Contributors New
      description: Returns a timeseries of new contributions to a project.
      operationId: repo_contributors_new
      tags:
      - metrics-contributors
      parameters:
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/contributors-new:
    get:
      summary: Contributors New (by Repo Group)
      description: Returns a timeseries of new contributions to a project.
      operationId: repo_group_contributors_new
      tags:
      - metrics-contributors
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/repos/{repo_id}/contributors-new:
    get:
      summary: Contributors New (deprecated)
      description: Returns a timeseries of new contributions to a project. **Deprecated:** Use `/api/unstable/repos/{repo_id}/contributors-new`
        or `/api/unstable/repo-groups/{repo_group_id}/contributors-new` instead.
      operationId: deprecated_repo_contributors_new
      tags:
      - metrics-contributors
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
      deprecated: true
  /api/unstable/repos/{repo_id}/lines-changed-by-author:
    get:
      summary: Lines Changed By Author
      description: Returns number of lines changed per author per day
      operationId: repo_lines_changed_by_author
      tags:
      - metrics-contributors
      parameters:
      - $ref: '#/components/parameters/repoIdPath'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/lines-changed-by-author:
    get:
      summary: Lines Changed By Author (by Repo Group)
      description: Returns number of lines changed per author per day
      operationId: repo_group_lines_changed_by_author
      tags:
      - metrics-contributors
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/repos/{repo_id}/lines-changed-by-author:
    get:
      summary: Lines Changed By Author (deprecated)
      description: Returns number of lines changed per author per day **Deprecated:** Use `/api/unstable/repos/{repo_id}/lines-changed-by-author`
        or `/api/unstable/repo-groups/{repo_group_id}/lines-changed-by-author` instead.
      operationId: deprecated_repo_lines_changed_by_author
      tags:
      - metrics-contributors
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/repoIdPath'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
      deprecated: true
  /api/unstable/repos/{repo_id}/contributors-code-development:
    get:
      summary: Contributors Code Development
      description: 'Returns a timeseries of all the contributions to a project. -----  :param period: To set the periodicity
        to ''all'', day'', ''week'', ''month'' or ''year'', defaults to ''all'' -----  :param begin_date: Specifies the begin
        date, defaults to ''1970-1-1 00:00:00'' -----  :param end_date: Specifies the end date, defaults to datetime.now()'
      operationId: repo_contributors_code_development
      tags:
      - metrics-contributors
      parameters:
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    date:
                      type: string
                      format: date-time
                    commits:
                      type: integer
                description: 'Array of records with columns: date, commits'
  /api/unstable/repo-groups/{repo_group_id}/contributors-code-development:
    get:
      summary: Contributors Code Development (by Repo Group)
      description: 'Returns a timeseries of all the contributions to a project. -----  :param period: To set the periodicity
        to ''all'', day'', ''week'', ''month'' or ''year'', defaults to ''all'' -----  :param begin_date: Specifies the begin
        date, defaults to ''1970-1-1 00:00:00'' -----  :param end_date: Specifies the end date, defaults to datetime.now()'
      operationId: repo_group_contributors_code_development
      tags:
      - metrics-contributors
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    date:
                      type: string
                      format: date-time
                    commits:
                      type: integer
                description: 'Array of records with columns: date, commits'
  /api/unstable/repo-groups/{repo_group_id}/repos/{repo_id}/contributors-code-development:
    get:
      summary: Contributors Code Development (deprecated)
      description: 'Returns a timeseries of all the contributions to a project. -----  :param period: To set the periodicity
        to ''all'', day'', ''week'', ''month'' or ''year'', defaults to ''all'' -----  :param begin_date: Specifies the begin
        date, defaults to ''1970-1-1 00:00:00'' -----  :param end_date: Specifies the end date, defaults to datetime.now()
        **Deprecated:** Use `/api/unstable/repos/{repo_id}/contributors-code-development` or `/api/unstable/repo-groups/{repo_group_id}/contributors-code-development`
        instead.'
      operationId: deprecated_repo_contributors_code_development
      tags:
      - metrics-contributors
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    date:
                      type: string
                      format: date-time
                    commits:
                      type: integer
                description: 'Array of records with columns: date, commits'
      deprecated: true
  /api/unstable/repos/{repo_id}/deps:
    get:
      summary: Deps
      description: Returns a list of all the dependencies in a project/repo/repo_group.
      operationId: repo_deps
      tags:
      - metrics-deps
      parameters:
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/deps:
    get:
      summary: Deps (by Repo Group)
      description: Returns a list of all the dependencies in a project/repo/repo_group.
      operationId: repo_group_deps
      tags:
      - metrics-deps
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/repos/{repo_id}/deps:
    get:
      summary: Deps (deprecated)
      description: Returns a list of all the dependencies in a project/repo/repo_group. **Deprecated:** Use `/api/unstable/repos/{repo_id}/deps`
        or `/api/unstable/repo-groups/{repo_group_id}/deps` instead.
      operationId: deprecated_repo_deps
      tags:
      - metrics-deps
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
      deprecated: true
  /api/unstable/repos/{repo_id}/libyear:
    get:
      summary: Libyear
      description: Returns a list of all the dependencies in a project/repo/repo_group.
      operationId: repo_libyear
      tags:
      - metrics-deps
      parameters:
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/libyear:
    get:
      summary: Libyear (by Repo Group)
      description: Returns a list of all the dependencies in a project/repo/repo_group.
      operationId: repo_group_libyear
      tags:
      - metrics-deps
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/repos/{repo_id}/libyear:
    get:
      summary: Libyear (deprecated)
      description: Returns a list of all the dependencies in a project/repo/repo_group. **Deprecated:** Use `/api/unstable/repos/{repo_id}/libyear`
        or `/api/unstable/repo-groups/{repo_group_id}/libyear` instead.
      operationId: deprecated_repo_libyear
      tags:
      - metrics-deps
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
      deprecated: true
  /api/unstable/repos/{repo_id}/issues-first-time-opened:
    get:
      summary: Issues First Time Opened
      description: Returns a timeseries of the count of persons opening an issue for the first time.
      operationId: repo_issues_first_time_opened
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/issues-first-time-opened:
    get:
      summary: Issues First Time Opened (by Repo Group)
      description: Returns a timeseries of the count of persons opening an issue for the first time.
      operationId: repo_group_issues_first_time_opened
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/repos/{repo_id}/issues-first-time-opened:
    get:
      summary: Issues First Time Opened (deprecated)
      description: Returns a timeseries of the count of persons opening an issue for the first time. **Deprecated:** Use `/api/unstable/repos/{repo_id}/issues-first-time-opened`
        or `/api/unstable/repo-groups/{repo_group_id}/issues-first-time-opened` instead.
      operationId: deprecated_repo_issues_first_time_opened
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
      deprecated: true
  /api/unstable/repos/{repo_id}/issues-first-time-closed:
    get:
      summary: Issues First Time Closed
      description: Returns a timeseries of the count of persons closing an issue for the first time.
      operationId: repo_issues_first_time_closed
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/issues-first-time-closed:
    get:
      summary: Issues First Time Closed (by Repo Group)
      description: Returns a timeseries of the count of persons closing an issue for the first time.
      operationId: repo_group_issues_first_time_closed
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/repos/{repo_id}/issues-first-time-closed:
    get:
      summary: Issues First Time Closed (deprecated)
      description: Returns a timeseries of the count of persons closing an issue for the first time. **Deprecated:** Use `/api/unstable/repos/{repo_id}/issues-first-time-closed`
        or `/api/unstable/repo-groups/{repo_group_id}/issues-first-time-closed` instead.
      operationId: deprecated_repo_issues_first_time_closed
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
      deprecated: true
  /api/unstable/repos/{repo_id}/issues-new:
    get:
      summary: Issues New
      description: Returns a timeseries of new issues opened.
      operationId: repo_issues_new
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/issues-new:
    get:
      summary: Issues New (by Repo Group)
      description: Returns a timeseries of new issues opened.
      operationId: repo_group_issues_new
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/repos/{repo_id}/issues-new:
    get:
      summary: Issues New (deprecated)
      description: Returns a timeseries of new issues opened. **Deprecated:** Use `/api/unstable/repos/{repo_id}/issues-new`
        or `/api/unstable/repo-groups/{repo_group_id}/issues-new` instead.
      operationId: deprecated_repo_issues_new
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
      deprecated: true
  /api/unstable/repos/{repo_id}/issues-active:
    get:
      summary: Issues Active
      description: Returns a timeseries of issues active.
      operationId: repo_issues_active
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/issues-active:
    get:
      summary: Issues Active (by Repo Group)
      description: Returns a timeseries of issues active.
      operationId: repo_group_issues_active
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/repos/{repo_id}/issues-active:
    get:
      summary: Issues Active (deprecated)
      description: Returns a timeseries of issues active. **Deprecated:** Use `/api/unstable/repos/{repo_id}/issues-active`
        or `/api/unstable/repo-groups/{repo_group_id}/issues-active` instead.
      operationId: deprecated_repo_issues_active
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
      deprecated: true
  /api/unstable/repos/{repo_id}/issues-closed:
    get:
      summary: Issues Closed
      description: Returns a timeseries of issues closed.
      operationId: repo_issues_closed
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/issues-closed:
    get:
      summary: Issues Closed (by Repo Group)
      description: Returns a timeseries of issues closed.
      operationId: repo_group_issues_closed
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/repos/{repo_id}/issues-closed:
    get:
      summary: Issues Closed (deprecated)
      description: Returns a timeseries of issues closed. **Deprecated:** Use `/api/unstable/repos/{repo_id}/issues-closed`
        or `/api/unstable/repo-groups/{repo_group_id}/issues-closed` instead.
      operationId: deprecated_repo_issues_closed
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
      deprecated: true
  /api/unstable/repos/{repo_id}/issue-duration:
    get:
      summary: Issue Duration
      description: Returns the duration of each issue.
      operationId: repo_issue_duration
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/issue-duration:
    get:
      summary: Issue Duration (by Repo Group)
      description: Returns the duration of each issue.
      operationId: repo_group_issue_duration
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/repos/{repo_id}/issue-duration:
    get:
      summary: Issue Duration (deprecated)
      description: Returns the duration of each issue. **Deprecated:** Use `/api/unstable/repos/{repo_id}/issue-duration`
        or `/api/unstable/repo-groups/{repo_group_id}/issue-duration` instead.
      operationId: deprecated_repo_issue_duration
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
      deprecated: true
  /api/unstable/repos/{repo_id}/issue-participants:
    get:
      summary: Issue Participants
      description: Returns number of participants per issue.
      operationId: repo_issue_participants
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/issue-participants:
    get:
      summary: Issue Participants (by Repo Group)
      description: Returns number of participants per issue.
      operationId: repo_group_issue_participants
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/repos/{repo_id}/issue-participants:
    get:
      summary: Issue Participants (deprecated)
      description: Returns number of participants per issue. **Deprecated:** Use `/api/unstable/repos/{repo_id}/issue-participants`
        or `/api/unstable/repo-groups/{repo_group_id}/issue-participants` instead.
      operationId: deprecated_repo_issue_participants
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
      deprecated: true
  /api/unstable/repos/{repo_id}/issue-backlog:
    get:
      summary: Issue Backlog
      description: Returns number of issues currently open.
      operationId: repo_issue_backlog
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoIdPath'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/issue-backlog:
    get:
      summary: Issue Backlog (by Repo Group)
      description: Returns number of issues currently open.
      operationId: repo_group_issue_backlog
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/repos/{repo_id}/issue-backlog:
    get:
      summary: Issue Backlog (deprecated)
      description: Returns number of issues currently open. **Deprecated:** Use `/api/unstable/repos/{repo_id}/issue-backlog`
        or `/api/unstable/repo-groups/{repo_group_id}/issue-backlog` instead.
      operationId: deprecated_repo_issue_backlog
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/repoIdPath'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
      deprecated: true
  /api/unstable/repos/{repo_id}/issue-throughput:
    get:
      summary: Issue Throughput
      description: Returns the ratio of issues closed to total issues
      operationId: repo_issue_throughput
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoIdPath'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/issue-throughput:
    get:
      summary: Issue Throughput (by Repo Group)
      description: Returns the ratio of issues closed to total issues
      operationId: repo_group_issue_throughput
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/repos/{repo_id}/issue-throughput:
    get:
      summary: Issue Throughput (deprecated)
      description: Returns the ratio of issues closed to total issues **Deprecated:** Use `/api/unstable/repos/{repo_id}/issue-throughput`
        or `/api/unstable/repo-groups/{repo_group_id}/issue-throughput` instead.
      operationId: deprecated_repo_issue_throughput
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/repoIdPath'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
      deprecated: true
  /api/unstable/repos/{repo_id}/issues-open-age:
    get:
      summary: Issues Open Age
      description: Retrun the age of open issues
      operationId: repo_issues_open_age
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/issues-open-age:
    get:
      summary: Issues Open Age (by Repo Group)
      description: Retrun the age of open issues
      operationId: repo_group_issues_open_age
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/repos/{repo_id}/issues-open-age:
    get:
      summary: Issues Open Age (deprecated)
      description: Retrun the age of open issues **Deprecated:** Use `/api/unstable/repos/{repo_id}/issues-open-age` or `/api/unstable/repo-groups/{repo_group_id}/issues-open-age`
        instead.
      operationId: deprecated_repo_issues_open_age
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
      deprecated: true
  /api/unstable/repos/{repo_id}/issues-closed-resolution-duration:
    get:
      summary: Issues Closed Resolution Duration
      description: Retrun Time duration of time for issues to be resolved
      operationId: repo_issues_closed_resolution_duration
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/issues-closed-resolution-duration:
    get:
      summary: Issues Closed Resolution Duration (by Repo Group)
      description: Retrun Time duration of time for issues to be resolved
      operationId: repo_group_issues_closed_resolution_duration
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/repos/{repo_id}/issues-closed-resolution-duration:
    get:
      summary: Issues Closed Resolution Duration (deprecated)
      description: Retrun Time duration of time for issues to be resolved **Deprecated:** Use `/api/unstable/repos/{repo_id}/issues-closed-resolution-duration`
        or `/api/unstable/repo-groups/{repo_group_id}/issues-closed-resolution-duration` instead.
      operationId: deprecated_repo_issues_closed_resolution_duration
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/periodQuery'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
      deprecated: true
  /api/unstable/repos/{repo_id}/average-issue-resolution-time:
    get:
      summary: Average Issue Resolution Time
      description: Returns the average issue resolution time
      operationId: repo_average_issue_resolution_time
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoIdPath'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/average-issue-resolution-time:
    get:
      summary: Average Issue Resolution Time (by Repo Group)
      description: Returns the average issue resolution time
      operationId: repo_group_average_issue_resolution_time
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/repos/{repo_id}/average-issue-resolution-time:
    get:
      summary: Average Issue Resolution Time (deprecated)
      description: Returns the average issue resolution time **Deprecated:** Use `/api/unstable/repos/{repo_id}/average-issue-resolution-time`
        or `/api/unstable/repo-groups/{repo_group_id}/average-issue-resolution-time` instead.
      operationId: deprecated_repo_average_issue_resolution_time
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/repoIdPath'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
      deprecated: true
  /api/unstable/repos/{repo_id}/issues-maintainer-response-duration:
    get:
      summary: Issues Maintainer Response Duration
      operationId: repo_issues_maintainer_response_duration
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/issues-maintainer-response-duration:
    get:
      summary: Issues Maintainer Response Duration (by Repo Group)
      operationId: repo_group_issues_maintainer_response_duration
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/repos/{repo_id}/issues-maintainer-response-duration:
    get:
      summary: Issues Maintainer Response Duration (deprecated)
      operationId: deprecated_repo_issues_maintainer_response_duration
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/beginDateQuery'
      - $ref: '#/components/parameters/endDateQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
      deprecated: true
      description: '**Deprecated:** Use `/api/unstable/repos/{repo_id}/issues-maintainer-response-duration` or `/api/unstable/repo-groups/{repo_group_id}/issues-maintainer-response-duration`
        instead.'
  /api/unstable/repos/{repo_id}/open-issues-count:
    get:
      summary: Open Issues Count
      description: Returns number of lines changed per author per day
      operationId: repo_open_issues_count
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoIdPath'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/open-issues-count:
    get:
      summary: Open Issues Count (by Repo Group)
      description: Returns number of lines changed per author per day
      operationId: repo_group_open_issues_count
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/repos/{repo_id}/open-issues-count:
    get:
      summary: Open Issues Count (deprecated)
      description: Returns number of lines changed per author per day **Deprecated:** Use `/api/unstable/repos/{repo_id}/open-issues-count`
        or `/api/unstable/repo-groups/{repo_group_id}/open-issues-count` instead.
      operationId: deprecated_repo_open_issues_count
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/repoIdPath'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
      deprecated: true
  /api/unstable/repos/{repo_id}/closed-issues-count:
    get:
      summary: Closed Issues Count
      description: Returns number of lines changed per author per day
      operationId: repo_closed_issues_count
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoIdPath'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/closed-issues-count:
    get:
      summary: Closed Issues Count (by Repo Group)
      description: Returns number of lines changed per author per day
      operationId: repo_group_closed_issues_count
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/repos/{repo_id}/closed-issues-count:
    get:
      summary: Closed Issues Count (deprecated)
      description: Returns number of lines changed per author per day **Deprecated:** Use `/api/unstable/repos/{repo_id}/closed-issues-count`
        or `/api/unstable/repo-groups/{repo_group_id}/closed-issues-count` instead.
      operationId: deprecated_repo_closed_issues_count
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/repoIdPath'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
      deprecated: true
  /api/unstable/repos/{repo_id}/issue-comments-mean:
    get:
      summary: Issue Comments Mean
      operationId: repo_issue_comments_mean
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoIdPath'
      - $ref: '#/components/parameters/groupByQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
  /api/unstable/repo-groups/{repo_group_id}/issue-comments-mean:
    get:
      summary: Issue Comments Mean (by Repo Group)
      operationId: repo_group_issue_comments_mean
      tags:
      - metrics-issues
      parameters:
      - $ref: '#/components/parameters/repoGroupIdPath'
      - $ref: '#/components/parameters/groupByQuery'
      responses:
[...]
