

<div class='main_container'>
    <div class='title'>Analysis</div>

    <div class="columns">
      <div class="column">
        <div class='chart_title'>Number of Commits</div>
        <div id="commits" style="width:600px;height:300px;display:inline-block;"></div>
      </div>
      <div class="column">
        plot here
      </div>
    </div>

    <div class="columns">
      <div class="column">
        plot here
      </div>
      <div class="column">
        plot here
      </div>
    </div>
     
  </div>
  