<h1 style="text-align: center;">Welcome to Group3 Project</h1>
<h2 style="margin-left: 5%;font-size:small">It's created by Guangzu, Graeson, Zachary for CS4320 Final Project</h2>
<h3 style="margin-left: 5%;font-size:small">There are repo and repo group page!</h3>
<h4 style="margin-left: 5%;font-size:small">Repo page! User can check the table of the commit for each repos! </h4>
<h5 style="margin-left: 5%;font-size:small">Repo group page! User can check the table of the message and table of contributor for each repo group!</h5>
<h6 style="margin-left: 5%;font-size:small">Table of message and table of contributor and switch using button in the top-left!</h6>