# Core Sphinx
sphinx>=7.2,<8
sphinx-rtd-theme>=2.0,<3

# Extensions
myst-parser>=2.0,<3
sphinx-autodoc-typehints>=1.25,<2
sphinx-copybutton>=0.5,<1
sphinx-click>=5.1,<6
sphinxcontrib-openapi>=0.8,<0.9
sphinxcontrib-redoc>=1.6,<2
