# docs/requirements.txt -- required by Read the Docs
-e .                     # install local package (for autodoc)

# Core Sphinx
sphinx>=7.2,<8
sphinx-rtd-theme>=2.0,<3

# Extensions
myst-parser>=2.0,<3
sphinx-autodoc-typehints>=1.25,<2
sphinx-copybutton>=0.5,<1
sphinx-click>=5.1,<6
