:root {
    --color-bg: #1A233A;
    --color-bg-light: #272E48;
    --color-fg: white;
    --color-fg-contrast: black;
    --color-accent: #6f42c1;
    --color-accent-dark: #6134b3;
    --color-notice: #00ddff;
    --color-notice-contrast: #006979;
}

body {
    background-color: var(--color-bg);
    color: var(--color-fg);
    overflow: hidden;
}

.content-column {
    overflow-y: scroll;
}

.dashboard-content {
    background-color: var(--color-bg-light);
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: var(--color-accent)
}

.dashboard-sidebar {
    background-color: var(--color-bg-light) !important;
    color: var(--color-fg) !important;
    max-height: 100vh;
}

.nav-link {
    color: var(--color-fg);
}

.nav-pills li:has(a:not(.active)) :hover {
    color: var(--color-notice);
}

.nav-pills li {
    width: 100%;
}

.nav-pills li a {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.dashboard-form-control {
    border: 1px solid #596280;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #1A233A;
    color: #bcd0f7;
}

.circle-opaque {
    border-radius: 50%;          /* Make it a circle */
    display: inline-block;       
    position: absolute;          /* Able to position it, overlaying the other image */
    left:0px;                    /* Customise the position, but make sure it */
    top:0px;                     /* is the same as .circle-transparent */
    z-index: -1;                 /* Makes the image sit *behind* .circle-transparent */
}

.circle-opaque img {
    border-radius: 50%;          /* Make it a circle */
    z-index: -1;
}

table {
    background-color: var(--color-fg);
    color: var(--color-fg-contrast);
}

.toast-container {
    top: 80px !important;
    right: 16px !important;
    z-index: 100000;
}

.toast {
    background-color: var(--color-notice);
    color: var(--color-bg);
}

#toast-placeholder {
    display: none;
    z-index: 100;
}