:root {
    --color-bg: #1A233A;
    --color-bg-light: #272E48;
    --color-bg-contrast: #646683;
    --color-fg: white;
    --color-fg-dark: #b0bdd6;
    --color-fg-contrast: black;
    --color-accent: #6f42c1;
    --color-accent-dark: #6134b3;
    --color-notice: #00ddff;
    --color-notice-contrast: #006979;
}

body{
    margin-top:20px;
    background-color: var(--color-bg);
    color: var(--color-fg);
}

h1 {
    font-size: 2rem;
}

.sidebar .sidebar-top {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}

.sidebar .sidebar-top .brand-logo {
    margin: 0 0 1rem 0;
}

.sidebar .sidebar-top .brand-logo img {
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.sidebar .about {
    margin: 1rem 0 0 0;
    font-size: 0.8rem;
    text-align: center;
}

.subtitle {
    color: var(--color-fg-dark);
    margin-bottom: .5rem;
    margin-left: 15px;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.card {
    background: var(--color-bg-light);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}

.form-control {
    border: 1px solid #596280;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: var(--color-bg-light);
    color: var(--color-fg);
}

.input-textbox {
    color: var(--color-fg);
    background-color: var(--color-bg);
    border-color: var(--color-accent-dark);
}

.input-textbox::placeholder {
    color: var(--color-fg-dark);
}

.input-textbox:focus {
    color: var(--color-fg);
    background-color: var(--color-bg);
    border-color: var(--color-accent-dark);
}

.input-textbox:focus::placeholder {
    color: var(--color-fg-dark);
}

.modal-content {
    color: var(--color-fg-contrast);
}

.editor-container {
    height: 300px !important;
}

.spinner {
    -webkit-animation: rotator 1.4s linear infinite;
    animation: rotator 1.4s linear infinite;
}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

@-webkit-keyframes rotator {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(270deg);
    }
}

@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(270deg);
    }
}
.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
    0% {
        stroke: #4285F4;
    }
    25% {
        stroke: #DE3E35;
    }
    50% {
        stroke: #F7C223;
    }
    75% {
        stroke: #1B9A59;
    }
    100% {
        stroke: #4285F4;
    }
}

@keyframes colors {
    0% {
        stroke: #4285F4;
    }
    25% {
        stroke: #DE3E35;
    }
    50% {
        stroke: #F7C223;
    }
    75% {
        stroke: #1B9A59;
    }
    100% {
        stroke: #4285F4;
    }
}
@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 46.75;
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
    }
}
@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 46.75;
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
    }
}
