#headBar { 
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: gray;
    float: left;
    padding: 5px;
}

select {
    width: 140px;
}
#piechart { 
    margin-top: 40px;
}