name: "run-linting-checks"
on:
  pull_request:
    branches: [main, dev]

jobs:
  run-pylint:
    name: runner / pylint
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dciborow/action-pylint@0.1.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          level: warning
          glob_pattern: "**/*.py"
          filter_mode: "file"

  misspell:
    name: runner / misspell
    runs-on: ubuntu-latest
    steps:
      - name: Highlight any misspellings in changes.
        uses: actions/checkout@v4
      - name: misspell
        uses: reviewdog/action-misspell@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          locale: "US"

  uv-lock:
    name: runner / uv-lock
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - name: Ensure uv lockfile is up to date
        run: uv lock --check
