name: "Docs build test"
# ensure the docs build still works
permissions:
  contents: read

on:
  pull_request:
    branches: [main, release]

jobs:
  check-docs:
    name: runner / check docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - name: Ensure docs build cleanly
        # Setting `O` to pass extra options to the sphinx-build command.
        run: O="-a -E -n -W --keep-going" make docs
