name: Test MacOS
# Unknown. MacOS functionality test i guess, probably incomplete
on:
  push:
    branches:
      - main
      - release
  pull_request:
  release:
    types:
      - published
  workflow_dispatch:

permissions: {}

jobs:
  test-macos:
    name: Test on macOS
    runs-on: macos-latest
    env:
      UV_LOCKED: true # Assert that uv.lock is up-to-date
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: "stable"

      # We don't use `make install` because it requires user input
      # Instead, we manually sync and run a subset of commands
      - name: Install dependencies
        run: uv sync --all-groups

      - name: Install workers
        run: uv run scripts/install/workers.sh dev

      - name: Install nltk
        run: |
          uv run python -m nltk.downloader stopwords
          uv run python -m nltk.downloader punkt
          uv run python -m nltk.downloader popular
          uv run python -m nltk.downloader universal_tagset
