

<div class='main_container'>
  <div class='title'>Select a Repo Group</div>
    <table>
        <tr>
          <th>Repo Group</th>
          <th>URL</th>
          <th>Date Created</th>
          <th>Last Modified</th>
          <th>Type</th>
          <th># Repos</th>
          <th>Total Contributors</th>
        </tr>
        <tr *ngFor="let group of repogroups">
          <td a routerLink="/repos" routerLinkActive="active"  class="aligncenter" >{{group.rg_name}}</td>
          <td  a routerLink="/repos" routerLinkActive="active" >{{group.rg_description}}</td>
          <td  a routerLink="/repos" routerLinkActive="active"  >{{group.rg_website}}</td>
          <td  a routerLink="/repos" routerLinkActive="active"  >Data</td>
          <td  a routerLink="/repos" routerLinkActive="active"  >Data</td>
          <td  a routerLink="/repos" routerLinkActive="active"  >Data</td>
          <td  a routerLink="/repos" routerLinkActive="active"  >Data</td>
        </tr>
    </table>
</div>
