

.main_container{
    padding:20px;
    margin-top:75px;
    text-align:center;
}


.title{
    font-size:30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bolder;
    text-align:left;
    color:black;
    margin-bottom:0px;
    margin-left:10%;
    padding:0px;
    
    

}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-left:auto;
    margin-right:auto;
    
  }
  
 td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #ffffff;
    color: black;
    border: 1px solid #505d69;
    padding: 8px;
    font-size:12px;
  }
  
  
 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #d9e3ed;
    color: black;
    border: 1px solid #505d69;
    padding: 8px;
    font-size: 14px;
  }
  
  .highlight_selected{
    color:#6C8EBF;
  }