{
    "Database": {
        "connection_string": "sqlite:///:memory:",
        "database": "augur",
        "host": "nekocase.augurlabs.io",
        "pass": "password",
        "port": "5433",
        "schema": "augur_data",
        "user": "augur"
    },
    "Server": {
        "cache_expire": 3600,
        "host": "0.0.0.0",
        "port": "5000",
        "workers": 8
    }
}
